Required Libraries

In [78]:
import pandas as pd
import numpy as np
from datetime import datetime

Import data set

In [79]:
sharks = pd.read_csv('../data/attacks.csv', encoding='ISO-8859-1')
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Exploración Inicial

In [80]:
sharks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [81]:
sharks.describe(include='object').T

,count,unique,top,freq
Case Number,8702,6287,0,2400
Date,6302,5433,1957,11
Type,6298,8,Unprovoked,4595
Country,6252,212,USA,2229
Area,5847,825,Florida,1037
Location,5762,4108,"New Smyrna Beach, Volusia County",163
Activity,5758,1532,Surfing,971
Name,6092,5230,male,550
Sex,5737,6,M,5094
Age,3471,157,17,154
Injury,6274,3737,FATAL,802
Fatal (Y/N),5763,8,N,4293
Time,2948,366,Afternoon,187
Species,3464,1549,White shark,163
Investigator or Source,6285,4969,"C. Moore, GSAF",105
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,6302,6285,1920.00.00.b,2
Case Number.2,6302,6286,1920.00.00.b,2
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,Teramo,1

Columnas numericas

In [82]:
num_df = sharks.select_dtypes(exclude='object')

num_df.head()

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0
3  2018.0          6300.0
4  2018.0          6299.0

Valores Nulos

In [83]:
original_shape = sharks.shape
original_shape

(25723, 24)

In [84]:
#elimino las filas que todos sus valores son nulos
sharks.dropna(how='all', inplace=True)

In [85]:
sharks.shape

(8703, 24)

In [86]:
#eliminar las filas que tengan mas de 20 columnas de valores nulos

null_rows = sharks.isnull().sum(axis=1)
indexes_to_drop = null_rows[null_rows > 20].index
sharks = sharks.drop(indexes_to_drop)

In [87]:
sharks.shape

(6302, 24)

In [88]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [89]:
percent_nan_cols = sharks.isna().mean() * 100  # porcentaje de nulo en cada columna


percent_nan_cols[percent_nan_cols>0]

Case Number                0.015868
Year                       0.031736
Type                       0.063472
Country                    0.793399
Area                       7.219930
Location                   8.568708
Activity                   8.632180
Name                       3.332275
Sex                        8.965408
Age                       44.922247
Injury                     0.444303
Fatal (Y/N)                8.552840
Time                      53.221200
Species                   45.033323
Investigator or Source     0.269756
href formula               0.015868
Unnamed: 22               99.984132
Unnamed: 23               99.968264
dtype: float64

Vamos a ir columna a columna quitando valores nulos

Case Number

In [90]:
sharks['Case Number'].head()

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
Name: Case Number, dtype: object

In [91]:
type(sharks['Case Number'][0])

str

In [92]:
sharks[sharks['Case Number'].isnull()]

#como tengo la fecha le asigno ese case number

sharks['Case Number'].fillna('1905.09.06', inplace=True)

In [93]:
#ver donde hay case number pero no hay fecha

sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [94]:
#me las cargo

index_to_drop = sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())].index
sharks = sharks.drop(index_to_drop)

In [95]:
# contar el número de valores nulos en cada fila
null_counts = sharks.isnull().sum(axis=1)

# seleccionar las filas donde más de 15 columnas son nulos
#las voy a eliminar porque no voy a estimar el valor de 2000 filas 
#me van a afectar

null_counts

0       2
1       3
2       3
3       4
4       4
       ..
6297    5
6298    6
6299    5
6300    7
6301    4
Length: 6302, dtype: int64

In [96]:
sharks.shape

(6302, 24)

Tipo de ataque

In [97]:
sharks.Type.unique()

sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [98]:
#Boatomg 

sharks['Type'].replace('Boatomg', 'Boating', inplace=True)
sharks['Type'].replace('Boat', 'Boating', inplace=True)

#elimino los cuestionables

sharks.drop(sharks[sharks['Type'] == 'Questionable'].index, inplace=True)

In [99]:
sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [100]:
#los valores nulos del tipo de ataque que sean un desastre en el mar

sharks['Type'] = sharks['Type'].fillna('Sea Disaster')


Country

In [101]:
sharks['Country'].value_counts()

Country
USA                       2229
AUSTRALIA                 1336
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: count, Length: 212, dtype: int64

In [102]:
nulos = sharks['Country'].isnull().sum()

nulos

50

In [103]:
#compruebo si puedo sacar algún pais

sharks.loc[sharks['Country'].isnull()]

#df.loc[df['A'].isnull() & df['B'].notnull()]

#country sea nulo pero area o location si que tenga informacion

sharks[(sharks['Country'].isnull()) & (sharks['Area'].notnull() | sharks['Location'].notnull())]

#se pueden arreglar 21 filas, por 21 filas me voy a rallar? NO, los que no sepa el pais 
#no me lo voy  a inventar asi que por ahora pongo desconocido 

sharks['Country'].fillna('Unknown', inplace=True)

In [104]:
sharks[(sharks['Country'] == 'Unknown') & (sharks['Area'].notnull() | sharks['Location'].notnull())];

In [216]:
sharks['Country'] = sharks['Country'].str.title()

Area

In [106]:
#los valores que si que no tengan area pero si location, voy a copiar la location al area
#cojo las de location y no las de country porque location es más concreto

sharks[(sharks['Area'].isnull()) & (sharks['Location'].notnull())].head(10)
sharks['Area'].fillna(sharks['Location'], inplace=True)

#y viceversa

sharks[(sharks['Location'].isnull()) & (sharks['Area'].notnull())].head(10)
sharks['Location'].fillna(sharks['Area'], inplace=True)

In [107]:
sharks['Area'].isnull().sum()

240

In [108]:
sharks[((sharks['Location'].isnull())&((sharks['Area'].isnull())) )& (sharks['Country'].notnull())].head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,...,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,Unknown,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,male,M,...,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,NaN,NaN
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Feeding sharks,Carly,F,...,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,NaN,NaN
296,2016.03.26,26-Mar-2016,2016.0,Provoked,BAHAMAS,NaN,NaN,NaN,Henry Kreckman,M,...,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,6007.0,NaN,NaN
370,2015.09.00,Sep-2015,2015.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,Viliame Lautiki,M,...,Tiger shark,"Fiji Times, 2/8/2016",2015.09.00-Lautiki.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.09.00,2015.09.00,5933.0,NaN,NaN
446,2015.02.15,15-Feb-2015,2015.0,Boating,ATLANTIC OCEAN,NaN,NaN,Transatlantic Rowing,"Avalon, a carbon kevlar monohull: 8 occupants",NaN,...,White shark,"Yorkshire Post, 3/16/2014",2015.02.15-Avalon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.02.15,2015.02.15,5857.0,NaN,NaN
469,2014.12.23.R,Reported 23-Dec-2014,2014.0,Unprovoked,JAPAN,NaN,NaN,Diving / Filming,male,M,...,Goblin shark,"Maxisciences.com, 12/23/2014",2014.12.23.R-GoblinShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.12.23.R,2014.12.23.R,5834.0,NaN,NaN
517,2014.08.09.R,09-Aug-2014,2014.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,Andrew Hindley,M,...,"Bull shark, 9' to 10'",A. Hindley / M. Michaelson,"2014.08.09.R-Hindley, pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.09.R,2014.08.09.R,5786.0,NaN,NaN
525,2014.08.00,Aug-2014,2014.0,Invalid,Unknown,NaN,NaN,Sea disaster,Cuban refugees,M,...,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,NaN,NaN

In [109]:
sharks['Area'] = sharks['Area'].fillna('Unknown')
sharks['Location'] = sharks['Location'].fillna('Unknown')

Activity

In [110]:
actividades = sharks['Activity'].value_counts()

actividades

Activity
Surfing                                   969
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: count, Length: 1532, dtype: int64

In [111]:
actividades[actividades==1]

#hay 1315 actividades

Activity
On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks                                                    1
Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.    1
Jumped overboard from torpedoed Panamanian freighter                                                                                                                                                                                                  1
Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85                                                                                                                                                                    1
Thrown from destroyer when shell hit                                                                                                                                                                                                                  1
                                                                                                                                                                                                                                                     ..
Playing with a frisbee in the shallows                                                                                                                                                                                                                1
Sinking of the ferryboat Dumaguete                                                                                                                                                                                                                    1
Wreck of the Storm King                                                                                                                                                                                                                               1
Feeding mullet to sharks                                                                                                                                                                                                                              1
Wreck of  large double sailing canoe                                                                                                                                                                                                                  1
Name: count, Length: 1315, dtype: int64

In [112]:
sharks['Activity'].isnull().sum()

544

In [113]:
#recordando la columna Type hay varias filas que pone Boating y esto se podría considerar
#como actividad asi que voy a buscar donde en la columna Type sea boating que y que la columna
#Activity sea nula

sharks[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull())]

sharks.loc[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull()), 'Activity'] = 'Boating'

In [114]:
sharks['Activity'].isnull().sum()

500

In [115]:
sharks['Activity'].fillna('Other', inplace=True)


Name

In [116]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Year                         2
Name                       210
Sex                        565
Age                       2829
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [117]:
#Como los nombre deberían ser unicos voy a coger los valores
#que se repiten más de una vez

nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
male               549
female              97
boy                 23
2 males             16
boat                14
child               12
males               10
sailor              10
Anonymous           10
a sailor             8
girl                 7
Unidentified         6
fisherman            6
a pearl diver        6
a native             5
a soldier            5
black male           4
Arab boy             4
Unknown              4
2 fishermen          4
Japanese diver       3
Zulu male            3
M.C.                 3
aboriginal male      3
Russian male         3
woman                3
Andre Hartman        3
 male                3
unknown              3
John Williams        3
native boy           3
dinghy               3
2 women              3
Name: count, dtype: int64

In [118]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [119]:
#voy a limpiar los que más se repiten uno a uno 
#male -> compruebo primero si en el genero esta vacio pero en el nombre
#esta male, se lo añado

sharks = sharks.rename(columns={'Sex ': 'Sex'})


#al comparar con Sex veo que nombre tiene un espacio así que lo corrijo 

sharks[(sharks['Name'] == 'male') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[(sharks['Type'] == 'male') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [120]:
#ahora los que se llamen male lo paso a unknown 

sharks.loc[sharks['Name'] == 'male', 'Name'] = 'Anonymous'

In [121]:
#hago lo mismo con female

sharks[(sharks['Name'] == 'female') & (sharks['Sex'].isnull())]

#como no hay directamente pongo desconocido

sharks.loc[sharks['Name'] == 'female', 'Name'] = 'Anonymous'

In [122]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous          656
boy                 23
2 males             16
boat                14
child               12
sailor              10
males               10
a sailor             8
girl                 7
Unidentified         6
fisherman            6
a pearl diver        6
a native             5
a soldier            5
Arab boy             4
black male           4
Unknown              4
2 fishermen          4
aboriginal male      3
Andre Hartman        3
John Williams        3
Zulu male            3
 male                3
M.C.                 3
unknown              3
2 women              3
dinghy               3
Russian male         3
woman                3
Japanese diver       3
native boy           3
Name: count, dtype: int64

In [123]:
#lo mismo con boy

sharks[(sharks['Name'] == 'boy') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[sharks['Name'] == 'boy', 'Name'] = 'Anonymous'

In [124]:
#voy a agrupar los que me quedan en chico o chica y vuelvo a valorar

#todos los chicos los meto en male y lo comparo con sexo
males = ['2 males',  'males',  'sailor', 'males', 'a sailor', 'fisherman', 'a soldier','2 fishermen',  'black male',
 'Arab boy',
 'Zulu male',
 ' male', 'aboriginal male',
 'Russian male','Japanese diver',  'native boy',]



sharks["Name"] = sharks["Name"].replace(males, 'M')

In [125]:
sharks[(sharks['Name'] == 'M') & (sharks['Sex'].isnull())]
sharks.loc[(sharks['Type'] == 'M') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [126]:
sharks.loc[sharks['Name'] == 'M', 'Name'] = 'Anonymous'

In [127]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous        764
boat              14
child             12
girl               7
a pearl diver      6
Unidentified       6
a native           5
Unknown            4
John Williams      3
unknown            3
woman              3
M.C.               3
Andre Hartman      3
dinghy             3
2 women            3
Name: count, dtype: int64

In [128]:
#Los que no lleven nombre pasaran a ser anonimos
#el nombre me da igual

nombres = sharks['Name'].value_counts()
nombres = nombres.index[nombres > 2] # seleccionar los nombres que aparecen más de 2 veces
sharks.loc[sharks['Name'].isin(nombres), 'Name'] = 'Anonymous' # cambiar los nombres por 'Anonymous'

In [129]:
#hay 14 filas que tienen boat, las voy a comparar con la columna actividad 
#pero en vez que sea nulo que sea desconocido

sharks[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown')]
sharks.loc[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown'), 'Activity'] = 'Boating'

In [130]:
sharks['Name'] = sharks['Name'].fillna('Anonymous')

Sex

In [131]:
genero = sharks['Sex'].value_counts()
lista_genero = genero[genero > 1].index.tolist()

lista_genero

#cambio la M con espacio y la N a una M de Male

lista_genero_correct = ['M ', 'N','lli','.']

sharks["Sex"] = sharks["Sex"].replace(lista_genero_correct, 'M')

In [132]:
#comprobamos que solo tenemos o macho o female

genero = sharks['Sex'].value_counts()
genero[genero > 0]

Sex
M    5098
F     637
Name: count, dtype: int64

In [133]:
sharks['Sex'].isnull().sum()

565

In [134]:
sharks['Sex'] = sharks['Sex'].fillna('Unknown')

Age

In [135]:
edad = sharks['Age'].value_counts()
edad[edad==1]

Age
                  1
25 or 28          1
X                 1
17 & 35           1
50 & 30           1
                 ..
20?               1
 28               1
7      &    31    1
 30               1
13 or 14          1
Name: count, Length: 75, dtype: int64

In [136]:
edad_unica = edad[edad==1].index.tolist()
edad_unica

['  ',
 '25 or 28',
 'X',
 '17 & 35',
 '50 & 30',
 '30 & 32',
 '21, 34,24 & 35',
 '37, 67, 35, 27,  ? & 27',
 '33 & 37',
 '13 or 18',
 '(adult)',
 '2½',
 '23 & 26',
 '25 to 35',
 '9 months',
 '? & 19',
 '"middle-age"',
 '34 & 19',
 '36 & 23',
 '10 or 12',
 'A.M.',
 '9 or 10',
 'Both 11',
 'F',
 '17 & 16',
 '?    &   14',
 '31 or 33',
 '33 & 26',
 '"young"',
 '81',
 ' 43',
 'adult',
 'MAKE LINE GREEN',
 '2 to 3 months',
 '9 & 12',
 '74',
 '18 to 22',
 '46 & 34',
 '6½',
 '30 or 36',
 '\xa0 ',
 '84',
 '36 & 26',
 'Teens',
 '28, 23 & 30',
 '12 or 13',
 '33 or 37',
 '18 or 20',
 '86',
 '28 & 26',
 '18 months',
 '72',
 '60s',
 '82',
 '21 & ?',
 'mid-30s',
 '>50',
 '67',
 '20 ',
 '21 or 26',
 '45 ',
 '74 ',
 'Ca. 33',
 'mid-20s',
 'Elderly',
 '87',
 '23 & 20',
 '16 to 18',
 '32 & 30',
 "60's",
 '20?',
 ' 28',
 '7      &    31',
 ' 30',
 '13 or 14']

In [137]:
type(sharks['Age'][0])

str

In [138]:
#Rellenamos los valores nulos con desconocido, a lo mejor relleno con cero no se...

sharks.Age = sharks.Age.fillna('Unknown').astype(str)

#para los que sean strings me quedo con los dos primeros caracteres

sharks.Age = sharks.Age.apply(lambda z: z[:2])

#convierto otra vez a string

sharks.Age = sharks.Age.astype(str)

#ahora convierto el string a int si no se puede pasa a ser desconcido 

def go(xx):
    try:
        return int(xx)
    except:
        return 'Unknown'

sharks.Age = sharks.Age.apply(go)
sharks.Age.value_counts()

Age
Unknown    2868
17          156
18          153
20          150
19          142
           ...
67            1
72            1
4             1
81            1
86            1
Name: count, Length: 83, dtype: int64

Injury

In [139]:
edad = sharks['Injury'].value_counts()
edad[edad>0]

Injury
FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  81
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: count, Length: 3737, dtype: int64

In [140]:
sharks['Injury'].isnull().sum()

28

In [142]:


sharks = sharks.rename(columns={'Fatal (Y/N)': 'Fatal'})

In [143]:
#como solo hay una vamos a rellenar los valores nulos de Injury con Survived
#al final son 28 

mask = (sharks['Fatal'] == 'Y') & (sharks['Injury'].isnull())
fatal_y_injury_null = sharks[mask]
fatal_y_injury_null

sharks['Injury'] = sharks['Injury'].fillna('Survived')

Fatal

In [144]:


muerte = sharks['Fatal'].value_counts()
muerte[muerte>0]

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [145]:
#donde fatal sea unknown o nan e injury sea fatal

sharks[(sharks['Fatal'].isnull()) & (sharks['Injury'] == 'FATAL')]
sharks.loc[((sharks['Fatal'] == 'UNKNOWN') & (sharks['Fatal'].isnull())) & (sharks['Injury'] == 'FATAL'), 'Fatal'] = 'Y'

In [146]:
fatal = sharks['Fatal'].value_counts()

In [147]:
fatal

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [148]:
sharks['Fatal'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [149]:
#lo que se parezca a yes o no lo cambio para agrupar valores

sharks["Fatal"] = sharks["Fatal"].replace(' N', 'N')
sharks["Fatal"] = sharks["Fatal"].replace('N ', 'N')

sharks["Fatal"] = sharks["Fatal"].replace('y', 'Y')

#LOS QUE NO ENCAJAN LOS PASO A DESCONOCIDO 

sharks["Fatal"] = sharks["Fatal"].replace('M', 'UNKNOWN')
sharks["Fatal"] = sharks["Fatal"].replace('2017', 'UNKNOWN')

In [150]:
sharks['Fatal'].value_counts()

Fatal
N          4299
Y          1389
UNKNOWN      73
Name: count, dtype: int64

In [151]:
sharks["Fatal"] = sharks["Fatal"].replace('UNKNOWN', 'NA')
sharks["Fatal"] = sharks["Fatal"].fillna('NA')

Time

In [152]:
hora = sharks['Time'].value_counts()
hora[hora>0]

Time
Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: count, Length: 366, dtype: int64

In [153]:
#los valores nulos pasan a desconocido 


sharks['Time'].fillna('Unknown', inplace=True)

#se cambia el formato de la hora

hora = sharks['Time'].str.contains('^\d+h\d+$')

print(hora)

sharks.loc[hora, 'Time'] = sharks.loc[hora, 'Time'].str.replace(r'(^\d+)h(\d+)', r'\1:\2')

0        True
1       False
2        True
3       False
4       False
        ...
6297    False
6298    False
6299    False
6300    False
6301    False
Name: Time, Length: 6300, dtype: bool

In [154]:
sharks['Time'].unique()


time_values = sharks.loc[~sharks['Time'].str.contains('^\d+h\d+$'), 'Time'].unique()
time_values

array(['14h00  -15h00', 'Unknown', 'Late afternoon', 'Morning',
       'Afternoon', '19h00, Dusk', 'Night', 'Midday',
       'Shortly before 12h00', 'After noon', '1300', '14h30 / 15h30',
       'Morning ', 'Midnight', '09h30 / 10h00', '10h45-11h15', 'Evening',
       'Sometime between 06h00 & 08hoo', 'Early afternoon',
       '07h00 - 08h00', '18h15-18h30', '09h00 - 09h30', '0830',
       'Just before noon', '1600', 'Early morning', 'Dawn', 'AM', 'A.M.',
       'Dusk', 'Lunchtime', '15j45', '0500', 'Before 07h00',
       '10h00 -- 11h00', '"Just before 11h00"', 'Sunset', '  ',
       '"Evening"', 'Just before sundown', '11h30 ',
       'Between 05h00 and 08h00', '17h00 or 17h40', '>08h00', '--',
       'Just after 12h00', ' ', 'Early Morning', 'Shortly after midnight',
       '\xa0 ', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.',
       'Shortly before 13h00', '8:04 pm',
       'Possibly same incident as 2000.08.21', 'After Dusk', 'Noon',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h00 / 11h30', '"Night"', '18h30?',
       '30 minutes after 1992.07.08.a', '>06h45', 'Between 06h00 & 07h20',
       '<07h30', '17h00 Sunset', 'Nightfall', 'X', '18h30 (Sunset)',
       '06j00', 'Prior to 10h37', 'Daybreak', '>12h00', 'Mid-morning',
       '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime', 'Dark',
       '10h00 / 11h00', '"After lunch"', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '09h30 / 15h30', '08h00 / 09h30',
       '12h00 to 14h00', 'Late night', '10h30 or 13h30', '15h00j',
       'Midday.', '"After dark"', '10h00 or 14h00', '2 hrs before sunset',
       '18h15 to 21h30', '1500', '"shortly before dusk"', '>17h30',
       '>14h30', 'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       'After midnight', 'Late afternon', '"Early evening"',
       'Late Afternoon', '   ', 'Before daybreak', 'dusk', 'Before 10h30',
       '06h00 -- 07h00', '17h00-18h00', '19h00-20h00'], dtype=object)

In [155]:
import re
pattern = re.compile(r'^\D*$')
filtered_values = [value for value in time_values if pattern.match(value)]
filtered_values

value_counts = pd.DataFrame({'Time': filtered_values}).value_counts()
value_counts

Time
                                                                         1
                                                                         1
Just before sundown                                                      1
Late Afternoon                                                           1
Late afternon                                                            1
Late afternoon                                                           1
Late morning                                                             1
Late night                                                               1
Lunchtime                                                                1
Mid afternoon                                                            1
Mid morning                                                              1
Mid-morning                                                              1
Midday                                                                   1
Midday.                                                                  1
Midnight                                                                 1
Morning                                                                  1
Morning                                                                  1
Night                                                                    1
Nightfall                                                                1
Noon                                                                     1
P.M.                                                                     1
Shortly after midnight                                                   1
Sunset                                                                   1
Unknown                                                                  1
X                                                                        1
dusk                                                                     1
night                                                                    1
Just before noon                                                         1
Just before dawn                                                         1
FATAL  (Wire netting installed at local beaches after this incident.)    1
After dusk                                                               1
                                                                         1
"After dark"                                                             1
"After lunch"                                                            1
"Early evening"                                                          1
"Evening"                                                                1
"Night"                                                                  1
"shortly before dusk"                                                    1
--                                                                       1
A.M.                                                                     1
AM                                                                       1
After Dusk                                                               1
After midnight                                                           1
Evening                                                                  1
After noon                                                               1
Afternoon                                                                1
Before daybreak                                                          1
Dark                                                                     1
Dawn                                                                     1
Daybreak                                                                 1
Daytime                                                                  1
Dusk                                                                     1
Early Morning                                                            1
Early afternoon                                                          1
Early morning                                                            1
                                                                         1
Name: count, dtype: int64

In [156]:
#Agrupamos valores

In [157]:
sharks['Time'].head()

0            18h00
1    14h00  -15h00
2            07h45
3          Unknown
4          Unknown
Name: Time, dtype: object

In [158]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Species

In [159]:
sharks = sharks.rename(columns={'Species ': 'Species'})

especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [160]:
#observo las que más se repiten y agrupo para limpiar

In [161]:
'''

a_reemplazar = ['Shark involvement prior to death was not confirmed','Invalid','Shark involvement not confirmed','Shark involvement prior to death unconfirmed','Questionable incident', 'Questionable'   ]


# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"
sharks['Species'] = sharks['Species'].replace(a_reemplazar, 'Shark involvement not confirmed', inplace=True)

'''

'\n\na_reemplazar = [\'Shark involvement prior to death was not confirmed\',\'Invalid\',\'Shark involvement not confirmed\',\'Shark involvement prior to death unconfirmed\',\'Questionable incident\', \'Questionable\'   ]\n\n\n# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"\nsharks[\'Species\'] = sharks[\'Species\'].replace(a_reemplazar, \'Shark involvement not confirmed\', inplace=True)\n\n'

In [162]:
especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [163]:
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death was not confirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Invalid', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death unconfirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable incident', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')

In [164]:
especie = sharks['Species'].value_counts()
especie[especie>10]

Species
Shark involvement not confirmed                   430
White shark                                       163
Tiger shark                                        73
Bull shark                                         52
4' shark                                           40
6' shark                                           40
1.8 m [6'] shark                                   35
1.5 m [5'] shark                                   32
1.2 m [4'] shark                                   27
3' shark                                           26
5' shark                                           26
2 m shark                                          25
4' to 5' shark                                     24
3 m [10'] shark                                    22
Wobbegong shark                                    21
No shark involvement                               21
3' to 4' shark                                     18
3 m shark                                          17
2.4 m [8'] shark                                   16
3.7 m [12'] shark                                  15
Blacktip shark                                     15
12' shark                                          15
1.2 m to 1.5 m [4' to 5'] shark                    14
Blue shark                                         14
Mako shark                                         13
1.5 m shark                                        13
7' shark                                           13
Shark involvement prior to death not confirmed     13
"a small shark"                                    13
6 m [20'] white shark                              12
Nurse shark                                        12
5 m [16.5'] white shark                            12
Bronze whaler shark                                12
10' shark                                          12
Raggedtooth shark                                  12
Zambesi shark                                      11
Grey nurse shark                                   11
Name: count, dtype: int64

In [165]:
sharks['Species'].fillna('Other', inplace=True)

Investigator or Source

In [166]:
caso = sharks['Investigator or Source'].value_counts()
caso[caso>5]

Investigator or Source
C. Moore, GSAF                                     105
C. Creswell, GSAF                                   92
S. Petersohn, GSAF                                  82
R. Collier                                          55
T. Peake, GSAF                                      48
R. Collier, GSAF                                    48
M. Levine, GSAF                                     45
A. Gifford, GSAF                                    28
C. Moore. GSAF                                      27
B. Myatt, GSAF                                      24
GSAF                                                23
M. Vorenberg, GSAF                                  20
E. Pace, FSAF                                       20
G. Van Grevelynghe                                  19
E. Ritter, GSAF                                     19
JCOnline                                            16
J. Green, p.36                                      14
W. Leander                                          14
C. Johansson, GSAF                                  14
K. Nakaya                                           12
R.D. Weeks, GSAF                                    12
S. Petersohn                                        12
C. Black, GSAF                                      11
C. Creswell                                         11
Hawaii Department of Land and Natural Resources     11
C. Eksander, GSAF                                   10
B.W. Coad & L.A.J. Al-Hassan                        10
MEDSAF                                              10
R. McKenzie, Sunday Mail, 9/6/1987, p.11             9
J. Eager, scubaradio.com                             9
B. Coad                                              8
C.Moore, GSAF                                        8
M. Szpilman                                          8
A. Bleakley;  A. M. Rapson, p.148                    7
T. Wallett, p.27                                     7
North Adams Transcript, 3/18/1898                    7
K. McMurray, TrackingSharks.com                      7
V.M. Coppleson (1958), p.242                         6
Clay Creswell, GSAF                                  6
S. Petersohn, GSAF                                   6
J. Borg, p.74; L. Taylor (1993), pp.102-103          6
G. Balazs                                            6
G. Cliff, NSB                                        6
A. Brenneka, Shark Attack Survivors                  6
Y. Choi & K. Nakaya                                  6
G.P. Whitley, p.264                                  6
Name: count, dtype: int64

In [167]:
sharks['Investigator or Source'].fillna('Unknown', inplace=True)

PDF

In [168]:
sharks = sharks.rename(columns={'pdf': 'Case File (PDF)'})

In [169]:
sharks['Case File (PDF)'].fillna('Unknown', inplace=True)

href y href formula

In [170]:
sharks['href'] == sharks['href formula']

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6300, dtype: bool

In [171]:
#busco en que filas el elemento no coincide

# Crear una serie booleana que indique si href es diferente a href formula
condicion = sharks['href'] != sharks['href formula']

# Seleccionar las filas donde la condición es verdadera
filas_diferentes = sharks[condicion]

filas_diferentes;

In [172]:
sharks['href'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [173]:
sharks['href formula'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [174]:
#analizando algunos me doy cuenta de que los valores que coinciden es porque
#href sale error not found y en href formula si que aparece el bueno
#así que copio lo que pone en hre formula a href

# Sobrescribir los valores en href formula donde la condición es verdadera
sharks.loc[condicion, 'href formula'] = sharks.loc[condicion, 'href']

# Verificar que los valores se hayan sobrescrito correctamente

In [175]:
sharks['href'] == sharks['href formula']

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6300, dtype: bool

In [176]:
# Seleccionar las filas donde href sea nulo y href formula no sea nulo
filas_null = sharks[(sharks['href'].isnull()) & (~sharks['href formula'].isnull())]

filas_null

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Case File (PDF), href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [177]:
#ahora href formula no sirve para nada y podríamos utilizarla para otra cosa

In [178]:
sharks = sharks.rename(columns={'href': 'Case File (URL)'})

In [179]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'href formula',
       'Case File (URL)', 'Case Number.1', 'Case Number.2', 'original order',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [180]:
sharks['Case File (URL)'].fillna('Unknown', inplace=True)

Year

In [181]:
#me deshago de los nulos y los convierto en enteroa

sharks.dropna(subset=['Year'],inplace=True)
sharks.Year = sharks.Year.astype(int)

In [182]:
sharks.shape

(6298, 24)

In [183]:
sharks.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                         0
Location                     0
Activity                     0
Name                         0
Sex                          0
Age                          0
Injury                       0
Fatal                        0
Time                         0
Species                      0
Investigator or Source       0
Case File (PDF)              0
href formula                 0
Case File (URL)              0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6297
Unnamed: 23               6296
dtype: int64

In [184]:
sharks.shape

(6298, 24)

In [185]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,Case File (URL),Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Other,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Other,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Date

In [186]:
#voy a ver cuatos datos no cumplen con el formato dia mesa año

count = 0
for value in sharks['Date']:
    try:
        pd.to_datetime(value, format='%d-%b-%Y')
    except ValueError:
        count += 1

count

#hay demasiados no me los puedo cargar, voy a ver si los puedo agrupar al menos

1535

In [187]:


fecha = sharks['Date'].value_counts()
fecha[fecha>3]

Date
1957                    11
1942                     9
1956                     8
1941                     7
1958                     7
1950                     7
1949                     6
No date                  6
Aug-1956                 5
05-Oct-2003              5
Oct-1960                 5
28-Jul-1995              5
1970s                    5
1940                     5
1954                     5
12-Apr-2001              5
1959                     5
1955                     5
No date, Before 1963     5
14-Jun-2012              4
27-Dec-2008              4
20-Sep-2015              4
1960                     4
1938                     4
1960s                    4
09-Jul-1994              4
1898                     4
23-Jan-1970              4
1952                     4
27-Jul-1952              4
Reported 10-Oct-1906     4
09-Jan-2010              4
1904                     4
29-Apr-2017              4
1995                     4
1961                     4
Before 1906              4
1945                     4
Before 1958              4
28-Dec-2014              4
1876                     4
15-Apr-2018              4
Name: count, dtype: int64

In [188]:
#de la columna Date los que sean solo un año
#los paso a la columna Year así no pierdo ese valor

sharks['Year'] = sharks['Date'].str.extract(r'(\d{4})')

#ahora que ya lo tengo Year los elimino de la columna Date

# Identificar las filas donde la columna 'Date' contiene solo cuatro dígitos
mask = sharks['Date'].str.contains(r'^\d{4}$')

# Reemplazar los valores correspondientes con 'No date'
sharks.loc[mask, 'Date'] = 'No date'

In [189]:
fecha = sharks['Date'].value_counts()
fecha[fecha>3]

Date
No date                 288
No date, Before 1963      5
12-Apr-2001               5
Oct-1960                  5
28-Jul-1995               5
1970s                     5
05-Oct-2003               5
Aug-1956                  5
Reported 10-Oct-1906      4
Before 1958               4
09-Jan-2010               4
14-Jun-2012               4
20-Sep-2015               4
28-Dec-2014               4
29-Apr-2017               4
09-Jul-1994               4
15-Apr-2018               4
23-Jan-1970               4
27-Jul-1952               4
1960s                     4
27-Dec-2008               4
Before 1906               4
Name: count, dtype: int64

In [190]:
#reemplazo a mano los que tienen el formato bueno 

sharks['Date'] = sharks['Date'].replace('1960s','No date')
sharks['Date'] = sharks['Date'].replace('1970s','No date')
sharks['Date'] = sharks['Date'].replace('Before 1906','No date')
sharks['Date'] = sharks['Date'].replace('Before 1958','No date')
sharks['Date'] = sharks['Date'].replace('Reported 10-Oct-1906','No date')
sharks['Date'] = sharks['Date'].replace('No date, Before 1963','No date')
sharks['Date'] = sharks['Date'].replace('Aug-1956','No date')
sharks['Date'] = sharks['Date'].replace('Oct-1960','No date')
sharks['Date'] = sharks['Date'].replace(' 01-Sep-2013','01-Sep-2013')
sharks['Date'] = sharks['Date'].replace('Summer 1943','No date')
sharks['Date'] = sharks['Date'].replace('19955','No date')
sharks['Date'] = sharks['Date'].replace('Circa 1958','No date')
sharks['Date'] = sharks['Date'].replace('Feb-1957','No date')
sharks['Date'] = sharks['Date'].replace('1845-1853','No date')

#voy a parar porque esto deja de tener sentido

In [191]:
fecha = sharks['Date'].value_counts()
fecha[fecha==1]

Date
05-Feb-1945    1
06-Mar-1945    1
05-Jan-1957    1
27-Oct-1956    1
02-Feb-1957    1
              ..
21-Aug-1995    1
25-Aug-1995    1
27-Aug-1995    1
11-Sep-1995    1
1883-1889      1
Name: count, Length: 4697, dtype: int64

In [192]:
#utilizo una de las columnas inutiles para guardar el mes 

sharks = sharks.rename(columns={'Case Number.1': 'Month'})

sharks['Month'] = sharks['Month'] = None

In [193]:
sharks['Month'] = sharks['Date'].str.extract(r'(\w{3})', expand=False).fillna('Unknown')

In [194]:
sharks['Month'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Jun
1       Jun
2       Jun
3       Jun
4       Jun
       ...
6297    Bef
6298    Bef
6299    190
6300    188
6301    dat
Name: Month, Length: 6298, dtype: object>

In [195]:
meses = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

sharks.loc[~sharks['Month'].isin(meses), 'Month'] = 'Unknown'

In [196]:
(sharks['Month'] == 'Unknown').astype(int).sum()

1115

Vuelta a Year

In [197]:
#veo que en Year vuelvo a tener valores nulos
sharks[(sharks['Year'].isnull()) & (sharks['Date'].notnull())].head(10)

#como tampoco tengo la fecha relleno ese año con Unknown

sharks['Year'] = sharks['Year'].fillna('Unknown')

Eliminar duplicados

In [198]:
sharks.drop_duplicates(subset=list(sharks.columns))

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,Case File (URL),Month,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Other,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Other,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Anonymous,M,...,Other,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Western Australia,Pearl diving,Ahmun,M,...,Other,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Other,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,"Panama Bay 8ºN, 79ºW","Panama Bay 8ºN, 79ºW",Other,Jules Patterson,M,...,Other,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0002,3.0,NaN,NaN
6301,ND.0001,No date,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Anonymous,M,...,Other,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0001,2.0,NaN,NaN

Estación del año

In [199]:
sharks = sharks.rename(columns={'Case Number.2': 'Season'})

In [200]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,Case File (URL),Month,Season,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Other,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Other,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Anonymous,M,...,Other,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Western Australia,Pearl diving,Ahmun,M,...,Other,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Other,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,"Panama Bay 8ºN, 79ºW","Panama Bay 8ºN, 79ºW",Other,Jules Patterson,M,...,Other,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0002,3.0,NaN,NaN
6301,ND.0001,No date,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Anonymous,M,...,Other,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,Unknown,ND.0001,2.0,NaN,NaN

In [201]:
def get_season(month):
    if month in ['Dec', 'Jan', 'Feb']:
        return 'Winter'
    elif month in ['Mar', 'Apr', 'May']:
        return 'Spring'
    elif month in ['Jun', 'Jul', 'Aug']:
        return 'Summer'
    elif month in ['Sep', 'Oct', 'Nov']:
        return 'Autumn'
    else:
        return 'Unknown'

# Aplicar la función a la columna Month y asignar el resultado a la columna Season
sharks['Season'] = sharks['Month'].apply(get_season)

In [202]:
sharks['Season']

0        Summer
1        Summer
2        Summer
3        Summer
4        Summer
         ...
6297    Unknown
6298    Unknown
6299    Unknown
6300    Unknown
6301    Unknown
Name: Season, Length: 6298, dtype: object

Week day

In [203]:
sharks = sharks.rename(columns={'href formula': 'Week Day'})

sharks['Week Day'] = None

sharks['Week Day']

0       None
1       None
2       None
3       None
4       None
        ...
6297    None
6298    None
6299    None
6300    None
6301    None
Name: Week Day, Length: 6298, dtype: object

In [204]:
#que toda la columna lleve este valor
#cuando encuentre de la columan date los que cumplen con el formato
#saco que día de la semana es 

sharks['Week Day'] = sharks['Week Day'].fillna('unknown')

In [205]:
#Para cada fila, intenta convertir el valor de la columna "Date" a un objeto datetime usando el formato "%d-%b-%Y".
#Si esto es exitoso, establece el valor de la columna "Week Day" en el día de la semana correspondiente. 
#Si no es exitoso, la columna "Week Day" ya está configurada en "unknown".


for i, row in sharks.iterrows():
    try:
        date = pd.to_datetime(row['Date'], format='%d-%b-%Y')
        sharks.loc[i, 'Week Day'] = date.strftime('%A')
    except ValueError:
        pass

In [206]:
sharks['Week Day'];

In [207]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'Week Day',
       'Case File (URL)', 'Month', 'Season', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Convierto una columna en el indice del dataframe

In [210]:
sharks = sharks.rename(columns={'Unnamed: 22': 'Index'})

sharks['Index'] = range(1, len(sharks) + 1)

sharks = sharks.set_index('Index')

In [212]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,Case File (PDF),Week Day,Case File (URL),Month,Season,original order,Unnamed: 23
Index,,,,,,,,,,,,,,,,,,,,,
1,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,Monday,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,Summer,6303.0,NaN
2,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,14h00 -15h00,Other,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,Monday,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,Summer,6302.0,NaN
3,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,07h45,Other,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,Saturday,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,Summer,6301.0,NaN
4,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,Friday,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,Summer,6300.0,NaN
5,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,Monday,http://sharkattackfile.net/spreadsheets/pdf_di...,Jun,Summer,6299.0,NaN

Que tan dificil sería hacer una columna con el continente

In [230]:
sharks['Country'].value_counts()

sharks['Country'] = sharks['Country'].replace('Usa', 'USA')
paises = sharks['Country'].value_counts()
paises[paises>20]

Country
USA                 2229
Australia           1335
South Africa         579
Papua New Guinea     134
New Zealand          128
Brazil               112
Bahamas              109
Mexico                89
Italy                 71
Fiji                  65
Philippines           61
Reunion               60
New Caledonia         53
Unknown               50
Cuba                  46
Mozambique            45
Spain                 44
India                 40
Egypt                 38
Croatia               34
Japan                 34
Panama                32
Solomon Islands       30
Iran                  29
Jamaica               27
Greece                25
French Polynesia      25
Hong Kong             24
Indonesia             23
England               22
Name: count, dtype: int64

In [234]:
#voy a hacerlo para los que se repiten más de 20 veces

paises_mas_10 = list(paises[paises>10].index)

paises_mas_10;

In [235]:
continents = {'USA': 'North America',
              'Australia': 'Oceania',
              'South Africa': 'Africa',
              'Papua New Guinea': 'Oceania',
              'New Zealand': 'Oceania',
              'Brazil': 'South America',
              'Bahamas': 'North America',
              'Mexico': 'North America',
              'Italy': 'Europe',
              'Fiji': 'Oceania',
              'Philippines': 'Asia',
              'Reunion': 'Africa',
              'New Caledonia': 'Oceania',
              'Unknown': 'Unknown',
              'Cuba': 'North America',
              'Mozambique': 'Africa',
              'Spain': 'Europe',
              'India': 'Asia',
              'Egypt': 'Africa',
              'Croatia': 'Europe',
              'Japan': 'Asia',
              'Panama': 'North America',
              'Solomon Islands': 'Oceania',
              'Iran': 'Asia',
              'Jamaica': 'North America',
              'Greece': 'Europe',
              'French Polynesia': 'Oceania',
              'Hong Kong': 'Asia',
              'Indonesia': 'Asia',
              'England': 'Europe',
              'Costa Rica': 'North America',
              'Atlantic Ocean': 'Unknown',
              'Pacific Ocean': 'Unknown',
              'Bermuda': 'North America',
              'Vietnam': 'Asia',
              'Tonga': 'Oceania',
              'Vanuatu': 'Oceania',
              'Sri Lanka': 'Asia',
              'France': 'Europe',
              'Marshall Islands': 'Oceania',
              'Turkey': 'Asia',
              'Canada': 'North America',
              'South Atlantic Ocean': 'Unknown',
              'Iraq': 'Asia',
              'Venezuela': 'South America',
              'United Kingdom': 'Europe',
              'Senegal': 'Africa'
              }

In [236]:
sharks = sharks.rename(columns={'Unnamed: 23': 'Continent'})

sharks['Continent'] = sharks['Country'].map(continents)

sharks['Continent'] = sharks['Continent'].fillna('Unknown')

In [238]:
sharks.head();

Limpieza de Area y Location:

In [ ]:
sharks['Area'] = sharks['Area'].str.title()
sharks['Location'] = sharks['Location'].str.title()

In [243]:
local = sharks['Location'].value_counts()
local_rep = list(local[local>5].index)

local_rep;

A que mar pertenece cada uno de los ataques

In [244]:
sharks = sharks.rename(columns={'original order': 'Sea'})

In [246]:
seas = {
'Unknown': 'Unknown',
'New Smyrna Beach, Volusia County': 'Atlantic Ocean',
'Daytona Beach, Volusia County': 'Atlantic Ocean',
'Ponce Inlet, Volusia County': 'Atlantic Ocean',
'Melbourne Beach, Brevard County': 'Atlantic Ocean',
'Myrtle Beach, Horry County': 'Atlantic Ocean',
'Durban': 'Indian Ocean',
'Boa Viagem, Recife': 'Atlantic Ocean',
'Isle of Palms, Charleston County': 'Atlantic Ocean',
'Torres Strait': 'Pacific Ocean',
'Ponce Inlet, New Smyrna Beach, Volusia County': 'Atlantic Ocean',
'Hawaii': 'Pacific Ocean',
'Florida': 'Atlantic Ocean',
'Cocoa Beach, Brevard County': 'Atlantic Ocean',
'Ormond Beach, Volusia County': 'Atlantic Ocean',
'Piedade': 'Atlantic Ocean',
'Palm Beach, Palm Beach County': 'Atlantic Ocean',
'Mossel Bay': 'Indian Ocean',
'Ahvaz, on the Karun River': 'Persian Gulf',
'Sydney Harbor': 'Pacific Ocean',
'Sydney': 'Pacific Ocean',
'Nahoon': 'Indian Ocean',
'Singer Island, Riviera Beach, Palm Beach County': 'Atlantic Ocean',
'Xai Xai': 'Indian Ocean',
'Jacksonville Beach, Duval County': 'Atlantic Ocean',
'North Beach, Durban': 'Indian Ocean',
'Havana Harbor': 'Atlantic Ocean',
'Juno Beach, Palm Beach County': 'Atlantic Ocean',
'Brisbane River': 'Pacific Ocean',
'Near Thursday Island': 'Pacific Ocean',
'Florida Keys, Monroe County': 'Atlantic Ocean',
'Nahoon, East London': 'Indian Ocean',
'Boa Viagem Beach, Recife': 'Atlantic Ocean',
'Moreton Bay': 'Pacific Ocean',
'Amanzimtoti': 'Indian Ocean',
'Florida Keys': 'Atlantic Ocean',
'False Bay': 'Atlantic Ocean',
'Vero Beach, Indian River County': 'Atlantic Ocean',
'Country Club Beach, Durban': 'Indian Ocean',
'Port Said': 'Mediterranean Sea',
'Sanibel Island, Lee County': 'Gulf of Mexico',
'Thursday Island': 'Pacific Ocean',
'Quy Nhon ': 'South China Sea',
'Folly Beach, Charleston County': 'Atlantic Ocean',
'New South Wales': 'Pacific Ocean',
'Port Alfred': 'Indian Ocean',
'Plettenberg Bay': 'Indian Ocean',
'Pensacola Bay, Escambia County': 'Gulf of Mexico',
'Riviera Beach, Palm Beach County': 'Atlantic Ocean',
'Charleston': 'Atlantic Ocean',
'Jacksonville, Duval County': 'Atlantic Ocean',
'Mirs Bay ': 'Pacific Ocean',
'Ross River, Townsville': 'Pacific Ocean',
'Bunbury': 'Indian Ocean',
'Bondi': 'Pacific Ocean',
'Brisbane': 'Pacific Ocean',
'Townsville': 'Pacific Ocean',
'Coogee': 'Pacific Ocean',
'Great Barrier Reef': 'Pacific Ocean',
'Key West, Monroe County': 'Gulf of Mexico',
'Shatt-al-Arab River': 'Persian Gulf',
'Jensen Beach, Martin County': 'Atlantic Ocean'}

In [248]:
sharks['Sea'] = sharks['Country'].map(seas)

sharks['Sea'] = sharks['Sea'].fillna('Unknown')

Cambiar el orden de las columnas

In [249]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'Week Day',
       'Case File (URL)', 'Month', 'Season', 'Sea', 'Continent'],
      dtype='object')

In [250]:
column_order = ['Case Number','Year', 'Country','Month', 'Fatal', 'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species','Continent','Sea','Area', 'Location', 
        'Week Day','Date' , 'Season','Activity','Investigator or Source', 'Case File (PDF)','Case File (URL)','Type']
shaeks = sharks.reindex(columns=column_order)

Análisis

- Relación entre actividad y lesión o si hubo muerte
- Temporada en la que más ataques se produzcan
- Frecuencia de ataques por país
- Especies que produzcan más accidentes fatales