Required Libraries

In [1883]:
import pandas as pd
import numpy as np
from datetime import datetime

Import data set

In [1884]:
sharks = pd.read_csv('../data/attacks.csv', encoding='ISO-8859-1')
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Exploración Inicial

In [1885]:
sharks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [1886]:
sharks.describe(include='object').T

,count,unique,top,freq
Case Number,8702,6287,0,2400
Date,6302,5433,1957,11
Type,6298,8,Unprovoked,4595
Country,6252,212,USA,2229
Area,5847,825,Florida,1037
Location,5762,4108,"New Smyrna Beach, Volusia County",163
Activity,5758,1532,Surfing,971
Name,6092,5230,male,550
Sex,5737,6,M,5094
Age,3471,157,17,154
Injury,6274,3737,FATAL,802
Fatal (Y/N),5763,8,N,4293
Time,2948,366,Afternoon,187
Species,3464,1549,White shark,163
Investigator or Source,6285,4969,"C. Moore, GSAF",105
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,6302,6285,1920.00.00.b,2
Case Number.2,6302,6286,1920.00.00.b,2
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,Teramo,1

Columnas numericas

In [1887]:
num_df = sharks.select_dtypes(exclude='object')

num_df.head()

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0
3  2018.0          6300.0
4  2018.0          6299.0

Valores Nulos

In [1888]:
original_shape = sharks.shape
original_shape

(25723, 24)

In [1889]:
#elimino las filas que todos sus valores son nulos
sharks.dropna(how='all', inplace=True)

In [1890]:
sharks.shape

(8703, 24)

In [1891]:
#eliminar las filas que tengan mas de 20 columnas de valores nulos

null_rows = sharks.isnull().sum(axis=1)
indexes_to_drop = null_rows[null_rows > 20].index
sharks = sharks.drop(indexes_to_drop)

In [1892]:
sharks.shape

(6302, 24)

In [1893]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [1894]:
percent_nan_cols = sharks.isna().mean() * 100  # porcentaje de nulo en cada columna


percent_nan_cols[percent_nan_cols>0]

Case Number                0.015868
Year                       0.031736
Type                       0.063472
Country                    0.793399
Area                       7.219930
Location                   8.568708
Activity                   8.632180
Name                       3.332275
Sex                        8.965408
Age                       44.922247
Injury                     0.444303
Fatal (Y/N)                8.552840
Time                      53.221200
Species                   45.033323
Investigator or Source     0.269756
href formula               0.015868
Unnamed: 22               99.984132
Unnamed: 23               99.968264
dtype: float64

Vamos a ir columna a columna quitando valores nulos

Case Number

In [1895]:
sharks['Case Number'].head()

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
Name: Case Number, dtype: object

In [1896]:
type(sharks['Case Number'][0])

str

In [1897]:
sharks[sharks['Case Number'].isnull()]

#como tengo la fecha le asigno ese case number

sharks['Case Number'].fillna('1905.09.06', inplace=True)

In [1898]:
#ver donde hay case number pero no hay fecha

sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [1899]:
#me las cargo

index_to_drop = sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())].index
sharks = sharks.drop(index_to_drop)

In [1900]:
# contar el número de valores nulos en cada fila
null_counts = sharks.isnull().sum(axis=1)

# seleccionar las filas donde más de 15 columnas son nulos
#las voy a eliminar porque no voy a estimar el valor de 2000 filas 
#me van a afectar

null_counts

0       2
1       3
2       3
3       4
4       4
       ..
6297    5
6298    6
6299    5
6300    7
6301    4
Length: 6302, dtype: int64

In [1901]:
sharks.shape

(6302, 24)

Tipo de ataque

In [2069]:
sharks.Type.unique()

sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     243
Name: count, dtype: int64

In [2070]:
#Boatomg 

sharks['Type'].replace('Boatomg', 'Boating', inplace=True)
sharks['Type'].replace('Boat', 'Boating', inplace=True)

#elimino los cuestionables

sharks.drop(sharks[sharks['Type'] == 'Questionable'].index, inplace=True)

In [2071]:
sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     243
Name: count, dtype: int64

In [2072]:
#los valores nulos del tipo de ataque que sean un desastre en el mar

sharks['Type'] = sharks['Type'].fillna('Sea Disaster')


Country

In [2073]:
sharks['Country'].value_counts()

Country
USA                      2229
AUSTRALIA                1336
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
NEW ZEALAND               128
                         ...
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
MAYOTTE                     1
GABON                       1
CEYLON (SRI LANKA)          1
Name: count, Length: 213, dtype: int64

In [2074]:
nulos = sharks['Country'].isnull().sum()

nulos

0

In [2075]:
#compruebo si puedo sacar algún pais

sharks.loc[sharks['Country'].isnull()]

#df.loc[df['A'].isnull() & df['B'].notnull()]

#country sea nulo pero area o location si que tenga informacion

sharks[(sharks['Country'].isnull()) & (sharks['Area'].notnull() | sharks['Location'].notnull())]

#se pueden arreglar 21 filas, por 21 filas me voy a rallar? NO, los que no sepa el pais 
#no me lo voy  a inventar asi que por ahora pongo desconocido 

sharks['Country'].fillna('Unknown', inplace=True)

In [2076]:
sharks[(sharks['Country'] == 'Unknown') & (sharks['Area'].notnull() | sharks['Location'].notnull())];

In [2077]:
#cambiar esos 21 rows de country

Area

In [2078]:
#los valores que si que no tengan area pero si location, voy a copiar la location al area
#cojo las de location y no las de country porque location es más concreto

sharks[(sharks['Area'].isnull()) & (sharks['Location'].notnull())].head(10)
sharks['Area'].fillna(sharks['Location'], inplace=True)

#y viceversa

sharks[(sharks['Location'].isnull()) & (sharks['Area'].notnull())].head(10)
sharks['Location'].fillna(sharks['Area'], inplace=True)

In [2079]:
sharks['Area'].isnull().sum()

0

In [2080]:
sharks[((sharks['Location'].isnull())&((sharks['Area'].isnull())) )& (sharks['Country'].notnull())].head(10)

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [2081]:
sharks['Area'] = sharks['Area'].fillna('Unknown')
sharks['Location'] = sharks['Location'].fillna('Unknown')

Activity

In [2082]:
actividades = sharks['Activity'].value_counts()

actividades

Activity
Surfing                                   969
Swimming                                  869
Other                                     500
Fishing                                   431
Spearfishing                              333
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: count, Length: 1533, dtype: int64

In [2083]:
actividades[actividades==1]

#hay 1315 actividades

Activity
Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85                                                                                                                                                          1
His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation                                                               1
Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down    1
In rubber dinghy with Captain Eddie Rickenbacker for 21 days.                                                                                                                                                                               1
Diving from lugger                                                                                                                                                                                                                          1
                                                                                                                                                                                                                                           ..
Playing with a frisbee in the shallows                                                                                                                                                                                                      1
Sinking of the ferryboat Dumaguete                                                                                                                                                                                                          1
Wreck of the Storm King                                                                                                                                                                                                                     1
Feeding mullet to sharks                                                                                                                                                                                                                    1
Wreck of  large double sailing canoe                                                                                                                                                                                                        1
Name: count, Length: 1315, dtype: int64

In [2084]:
sharks['Activity'].isnull().sum()

0

In [2085]:
#recordando la columna Type hay varias filas que pone Boating y esto se podría considerar
#como actividad asi que voy a buscar donde en la columna Type sea boating que y que la columna
#Activity sea nula

sharks[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull())]

sharks.loc[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull()), 'Activity'] = 'Boating'

In [2086]:
sharks['Activity'].isnull().sum()

0

In [2087]:
sharks['Activity'].fillna('Other', inplace=True)


Name

In [2088]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Year                         2
Injury                      28
Fatal                      539
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [2089]:
#Como los nombre deberían ser unicos voy a coger los valores
#que se repiten más de una vez

nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous    1049
Name: count, dtype: int64

In [2090]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [2091]:
#voy a limpiar los que más se repiten uno a uno 
#male -> compruebo primero si en el genero esta vacio pero en el nombre
#esta male, se lo añado

sharks = sharks.rename(columns={'Sex ': 'Sex'})


#al comparar con Sex veo que nombre tiene un espacio así que lo corrijo 

sharks[(sharks['Name'] == 'male') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[(sharks['Type'] == 'male') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [2092]:
#ahora los que se llamen male lo paso a unknown 

sharks.loc[sharks['Name'] == 'male', 'Name'] = 'Anonymous'

In [2093]:
#hago lo mismo con female

sharks[(sharks['Name'] == 'female') & (sharks['Sex'].isnull())]

#como no hay directamente pongo desconocido

sharks.loc[sharks['Name'] == 'female', 'Name'] = 'Anonymous'

In [2094]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous    1049
Name: count, dtype: int64

In [2095]:
#lo mismo con boy

sharks[(sharks['Name'] == 'boy') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[sharks['Name'] == 'boy', 'Name'] = 'Anonymous'

In [2096]:
#voy a agrupar los que me quedan en chico o chica y vuelvo a valorar

#todos los chicos los meto en male y lo comparo con sexo
males = ['2 males',  'males',  'sailor', 'males', 'a sailor', 'fisherman', 'a soldier','2 fishermen',  'black male',
 'Arab boy',
 'Zulu male',
 ' male', 'aboriginal male',
 'Russian male','Japanese diver',  'native boy',]



sharks["Name"] = sharks["Name"].replace(males, 'M')

In [2097]:
sharks[(sharks['Name'] == 'M') & (sharks['Sex'].isnull())]
sharks.loc[(sharks['Type'] == 'M') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [2098]:
sharks.loc[sharks['Name'] == 'M', 'Name'] = 'Anonymous'

In [2099]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous    1049
Name: count, dtype: int64

In [2100]:
#Los que no lleven nombre pasaran a ser anonimos
#el nombre me da igual

nombres = sharks['Name'].value_counts()
nombres = nombres.index[nombres > 2] # seleccionar los nombres que aparecen más de 2 veces
sharks.loc[sharks['Name'].isin(nombres), 'Name'] = 'Anonymous' # cambiar los nombres por 'Anonymous'

In [2101]:
#hay 14 filas que tienen boat, las voy a comparar con la columna actividad 
#pero en vez que sea nulo que sea desconocido

sharks[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown')]
sharks.loc[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown'), 'Activity'] = 'Boating'

In [2102]:
sharks['Name'] = sharks['Name'].fillna('Anonymous')

Sex

In [2103]:
genero = sharks['Sex'].value_counts()
lista_genero = genero[genero > 1].index.tolist()

lista_genero

#cambio la M con espacio y la N a una M de Male

lista_genero_correct = ['M ', 'N','lli','.']

sharks["Sex"] = sharks["Sex"].replace(lista_genero_correct, 'M')

In [2104]:
#comprobamos que solo tenemos o macho o female

genero = sharks['Sex'].value_counts()
genero[genero > 0]

Sex
M          5098
F           637
Unknown     565
Name: count, dtype: int64

In [2105]:
sharks['Sex'].isnull().sum()

0

In [2106]:
sharks['Sex'] = sharks['Sex'].fillna('Unknown')

Age

In [2107]:
edad = sharks['Age'].value_counts()
edad[edad==1]

Age
84    1
82    1
87    1
67    1
72    1
4     1
81    1
86    1
Name: count, dtype: int64

In [2108]:
edad_unica = edad[edad==1].index.tolist()
edad_unica

[84, 82, 87, 67, 72, 4, 81, 86]

In [2109]:
type(sharks['Age'][0])

int

In [2110]:
#Rellenamos los valores nulos con desconocido, a lo mejor relleno con cero no se...

sharks.Age = sharks.Age.fillna('Unknown').astype(str)

#para los que sean strings me quedo con los dos primeros caracteres

sharks.Age = sharks.Age.apply(lambda z: z[:2])

#convierto otra vez a string

sharks.Age = sharks.Age.astype(str)

#ahora convierto el string a int si no se puede pasa a ser desconcido 

def go(xx):
    try:
        return int(xx)
    except:
        return 'Unknown'

sharks.Age = sharks.Age.apply(go)
sharks.Age.value_counts()

Age
Unknown    2868
17          156
18          153
20          150
19          142
           ...
67            1
72            1
4             1
81            1
86            1
Name: count, Length: 83, dtype: int64

Injury

In [2111]:
edad = sharks['Injury'].value_counts()
edad[edad>0]

Injury
FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  81
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: count, Length: 3737, dtype: int64

In [2112]:
sharks['Injury'].isnull().sum()

28

Fatal

In [2113]:
'Fatal (Y/N)'

sharks = sharks.rename(columns={'Fatal (Y/N)': 'Fatal'})

muerte = sharks['Fatal'].value_counts()
muerte[muerte>0]

Fatal
N          4299
Y          1389
UNKNOWN      73
Name: count, dtype: int64

In [2114]:
#donde fatal sea unknown o nan e injury sea fatal

sharks[(sharks['Fatal'].isnull()) & (sharks['Injury'] == 'FATAL')]
sharks.loc[((sharks['Fatal'] == 'UNKNOWN') & (sharks['Fatal'].isnull())) & (sharks['Injury'] == 'FATAL'), 'Fatal'] = 'Y'

In [2115]:
fatal = sharks['Fatal'].value_counts()

In [2116]:
fatal

Fatal
N          4299
Y          1389
UNKNOWN      73
Name: count, dtype: int64

In [2117]:
sharks['Fatal'].unique()

array(['N', 'Y', nan, 'UNKNOWN'], dtype=object)

In [2118]:
#lo que se parezca a yes o no lo cambio para agrupar valores

sharks["Fatal"] = sharks["Fatal"].replace(' N', 'N')
sharks["Fatal"] = sharks["Fatal"].replace('N ', 'N')

sharks["Fatal"] = sharks["Fatal"].replace('y', 'Y')

#LOS QUE NO ENCAJAN LOS PASO A DESCONOCIDO 

sharks["Fatal"] = sharks["Fatal"].replace('M', 'UNKNOWN')
sharks["Fatal"] = sharks["Fatal"].replace('2017', 'UNKNOWN')

In [2119]:
sharks['Fatal'].value_counts()

Fatal
N          4299
Y          1389
UNKNOWN      73
Name: count, dtype: int64

In [2156]:
sharks["Fatal"] = sharks["Fatal"].replace('UNKNOWN', 'NA')
sharks["Fatal"] = sharks["Fatal"].fillna('NA')

Time

In [2120]:
hora = sharks['Time'].value_counts()
hora[hora>0]

Time
Unknown        3354
Afternoon       187
11h00           128
Morning         121
12h00           109
               ...
14h37             1
10h07             1
13h53             1
13h23             1
19h00-20h00       1
Name: count, Length: 367, dtype: int64

In [2121]:
#los valores nulos pasan a desconocido 


sharks['Time'].fillna('Unknown', inplace=True)

#se cambia el formato de la hora

hora = sharks['Time'].str.contains('^\d+h\d+$')

print(hora)

sharks.loc[hora, 'Time'] = sharks.loc[hora, 'Time'].str.replace(r'(^\d+)h(\d+)', r'\1:\2')

0        True
1       False
2        True
3       False
4       False
        ...
6297    False
6298    False
6299    False
6300    False
6301    False
Name: Time, Length: 6300, dtype: bool

In [2122]:
sharks['Time'].unique()


time_values = sharks.loc[~sharks['Time'].str.contains('^\d+h\d+$'), 'Time'].unique()
time_values

array(['14h00  -15h00', 'Unknown', 'Late afternoon', 'Morning',
       'Afternoon', '19h00, Dusk', 'Night', 'Midday',
       'Shortly before 12h00', 'After noon', '1300', '14h30 / 15h30',
       'Morning ', 'Midnight', '09h30 / 10h00', '10h45-11h15', 'Evening',
       'Sometime between 06h00 & 08hoo', 'Early afternoon',
       '07h00 - 08h00', '18h15-18h30', '09h00 - 09h30', '0830',
       'Just before noon', '1600', 'Early morning', 'Dawn', 'AM', 'A.M.',
       'Dusk', 'Lunchtime', '15j45', '0500', 'Before 07h00',
       '10h00 -- 11h00', '"Just before 11h00"', 'Sunset', '  ',
       '"Evening"', 'Just before sundown', '11h30 ',
       'Between 05h00 and 08h00', '17h00 or 17h40', '>08h00', '--',
       'Just after 12h00', ' ', 'Early Morning', 'Shortly after midnight',
       '\xa0 ', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.',
       'Shortly before 13h00', '8:04 pm',
       'Possibly same incident as 2000.08.21', 'After Dusk', 'Noon',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h00 / 11h30', '"Night"', '18h30?',
       '30 minutes after 1992.07.08.a', '>06h45', 'Between 06h00 & 07h20',
       '<07h30', '17h00 Sunset', 'Nightfall', 'X', '18h30 (Sunset)',
       '06j00', 'Prior to 10h37', 'Daybreak', '>12h00', 'Mid-morning',
       '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime', 'Dark',
       '10h00 / 11h00', '"After lunch"', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '09h30 / 15h30', '08h00 / 09h30',
       '12h00 to 14h00', 'Late night', '10h30 or 13h30', '15h00j',
       'Midday.', '"After dark"', '10h00 or 14h00', '2 hrs before sunset',
       '18h15 to 21h30', '1500', '"shortly before dusk"', '>17h30',
       '>14h30', 'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       'After midnight', 'Late afternon', '"Early evening"',
       'Late Afternoon', '   ', 'Before daybreak', 'dusk', 'Before 10h30',
       '06h00 -- 07h00', '17h00-18h00', '19h00-20h00'], dtype=object)

In [2123]:
import re
pattern = re.compile(r'^\D*$')
filtered_values = [value for value in time_values if pattern.match(value)]
filtered_values

value_counts = pd.DataFrame({'Time': filtered_values}).value_counts()
value_counts

Time
                                                                         1
                                                                         1
Just before sundown                                                      1
Late Afternoon                                                           1
Late afternon                                                            1
Late afternoon                                                           1
Late morning                                                             1
Late night                                                               1
Lunchtime                                                                1
Mid afternoon                                                            1
Mid morning                                                              1
Mid-morning                                                              1
Midday                                                                   1
Midday.                                                                  1
Midnight                                                                 1
Morning                                                                  1
Morning                                                                  1
Night                                                                    1
Nightfall                                                                1
Noon                                                                     1
P.M.                                                                     1
Shortly after midnight                                                   1
Sunset                                                                   1
Unknown                                                                  1
X                                                                        1
dusk                                                                     1
night                                                                    1
Just before noon                                                         1
Just before dawn                                                         1
FATAL  (Wire netting installed at local beaches after this incident.)    1
After dusk                                                               1
                                                                         1
"After dark"                                                             1
"After lunch"                                                            1
"Early evening"                                                          1
"Evening"                                                                1
"Night"                                                                  1
"shortly before dusk"                                                    1
--                                                                       1
A.M.                                                                     1
AM                                                                       1
After Dusk                                                               1
After midnight                                                           1
Evening                                                                  1
After noon                                                               1
Afternoon                                                                1
Before daybreak                                                          1
Dark                                                                     1
Dawn                                                                     1
Daybreak                                                                 1
Daytime                                                                  1
Dusk                                                                     1
Early Morning                                                            1
Early afternoon                                                          1
Early morning                                                            1
                                                                         1
Name: count, dtype: int64

In [2124]:
#Agrupamos valores

In [2125]:
sharks['Time'].head()

0            18h00
1    14h00  -15h00
2            07h45
3          Unknown
4          Unknown
Name: Time, dtype: object

In [2126]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Species

In [2131]:
sharks = sharks.rename(columns={'Species ': 'Species'})

especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [2132]:
#observo las que más se repiten y agrupo para limpiar

In [2133]:
'''

a_reemplazar = ['Shark involvement prior to death was not confirmed','Invalid','Shark involvement not confirmed','Shark involvement prior to death unconfirmed','Questionable incident', 'Questionable'   ]


# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"
sharks['Species'] = sharks['Species'].replace(a_reemplazar, 'Shark involvement not confirmed', inplace=True)

'''

'\n\na_reemplazar = [\'Shark involvement prior to death was not confirmed\',\'Invalid\',\'Shark involvement not confirmed\',\'Shark involvement prior to death unconfirmed\',\'Questionable incident\', \'Questionable\'   ]\n\n\n# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"\nsharks[\'Species\'] = sharks[\'Species\'].replace(a_reemplazar, \'Shark involvement not confirmed\', inplace=True)\n\n'

In [2134]:
especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [2135]:
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death was not confirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Invalid', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death unconfirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable incident', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')

In [2136]:
especie = sharks['Species'].value_counts()
especie[especie>10]

Species
Shark involvement not confirmed                   430
White shark                                       163
Tiger shark                                        73
Bull shark                                         52
4' shark                                           40
6' shark                                           40
1.8 m [6'] shark                                   35
1.5 m [5'] shark                                   32
1.2 m [4'] shark                                   27
3' shark                                           26
5' shark                                           26
2 m shark                                          25
4' to 5' shark                                     24
3 m [10'] shark                                    22
Wobbegong shark                                    21
No shark involvement                               21
3' to 4' shark                                     18
3 m shark                                          17
2.4 m [8'] shark                                   16
3.7 m [12'] shark                                  15
Blacktip shark                                     15
12' shark                                          15
1.2 m to 1.5 m [4' to 5'] shark                    14
Blue shark                                         14
Mako shark                                         13
1.5 m shark                                        13
7' shark                                           13
Shark involvement prior to death not confirmed     13
"a small shark"                                    13
6 m [20'] white shark                              12
Nurse shark                                        12
5 m [16.5'] white shark                            12
Bronze whaler shark                                12
10' shark                                          12
Raggedtooth shark                                  12
Zambesi shark                                      11
Grey nurse shark                                   11
Name: count, dtype: int64

In [2137]:
sharks['Species'].fillna('Other', inplace=True)

Investigator or Source

In [2138]:
caso = sharks['Investigator or Source'].value_counts()
caso[caso>5]

Investigator or Source
C. Moore, GSAF                                     105
C. Creswell, GSAF                                   92
S. Petersohn, GSAF                                  82
R. Collier                                          55
T. Peake, GSAF                                      48
R. Collier, GSAF                                    48
M. Levine, GSAF                                     45
A. Gifford, GSAF                                    28
C. Moore. GSAF                                      27
B. Myatt, GSAF                                      24
GSAF                                                23
M. Vorenberg, GSAF                                  20
E. Pace, FSAF                                       20
G. Van Grevelynghe                                  19
E. Ritter, GSAF                                     19
JCOnline                                            16
J. Green, p.36                                      14
W. Leander                                          14
C. Johansson, GSAF                                  14
K. Nakaya                                           12
R.D. Weeks, GSAF                                    12
S. Petersohn                                        12
C. Black, GSAF                                      11
C. Creswell                                         11
Hawaii Department of Land and Natural Resources     11
C. Eksander, GSAF                                   10
B.W. Coad & L.A.J. Al-Hassan                        10
MEDSAF                                              10
R. McKenzie, Sunday Mail, 9/6/1987, p.11             9
J. Eager, scubaradio.com                             9
B. Coad                                              8
C.Moore, GSAF                                        8
M. Szpilman                                          8
A. Bleakley;  A. M. Rapson, p.148                    7
T. Wallett, p.27                                     7
North Adams Transcript, 3/18/1898                    7
K. McMurray, TrackingSharks.com                      7
V.M. Coppleson (1958), p.242                         6
Clay Creswell, GSAF                                  6
S. Petersohn, GSAF                                   6
J. Borg, p.74; L. Taylor (1993), pp.102-103          6
G. Balazs                                            6
G. Cliff, NSB                                        6
A. Brenneka, Shark Attack Survivors                  6
Y. Choi & K. Nakaya                                  6
G.P. Whitley, p.264                                  6
Name: count, dtype: int64

In [2139]:
sharks['Investigator or Source'].fillna('Unknown', inplace=True)

PDF

In [2140]:
sharks = sharks.rename(columns={'pdf': 'Case File (PDF)'})

In [2141]:
sharks['Case File (PDF)'].fillna('Unknown', inplace=True)

href y href formula

In [2142]:
sharks['href'] == sharks['href formula']

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6300, dtype: bool

In [2143]:
#busco en que filas el elemento no coincide

# Crear una serie booleana que indique si href es diferente a href formula
condicion = sharks['href'] != sharks['href formula']

# Seleccionar las filas donde la condición es verdadera
filas_diferentes = sharks[condicion]

filas_diferentes

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
50,2018.01.13,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,...,"White shark, 3.5 m","B. Myatt, GSAF",2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.13,2018.01.13,6253.0,NaN,NaN
96,2017.08.29,29-Aug-2017,2017.0,Unprovoked,AUSTRALIA,Victoria,Cathedral Rock,Surfing,Marcel Brundler,M,...,"White shark, 3 m","B. Myatt, GSAF",2017.08.27-Brundler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.29,2017.08.29,6207.0,NaN,NaN
131,2017.06.05,2017.06.05,2017.0,Unprovoked,FRENCH POLYNESIA,Marquesas,"Atuona Bay, Hiva Oa Island",Surfing,Anonymous,M,...,Other,"Tahiti Infos, 6/6/2017",2017.06.05-FrenchPolynesia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.05,2017.06.05,6172.0,NaN,NaN
133,2017.06.11,11-Jun-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,"Point Casuarina, Bunbury",Body boarding,Paul Goff,M,...,"White shark, 4 m","WA Today, 6/11/2017",2017.06.11-Goff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.11,2017.06.11,6170.0,NaN,NaN
141,2017.05.27,27-May-2017,2017.0,Invalid,AUSTRALIA,New South Wales,Evans Head,Fishing,Terry Selwood,M,...,Other,"B. Myatt, GSAF",2017.05.27-Selwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.05.27,2017.05.27,6162.0,NaN,NaN
168,2017.03.19,19-Mar-2017,2017.0,Unprovoked,AUSTRALIA,New South Wales,The Farm,Body boarding,Gonzalo Fernandez,M,...,Other,"Illawarra Mercury, 1/19/2017",2017.03.19-Fernandez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.03.19,2017.03.19,6135.0,NaN,NaN
234,2016.07.29,29-Jul-2016,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,Anonymous,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,6069.0,NaN,NaN
241,2016.07.23.a,23-Jul-2016,2016.0,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,...,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.a,2016.07.23.a,6062.0,NaN,NaN
276,2016.05.21.a,21-May-2016,2016.0,Unprovoked,USA,Florida,"Hugenot Beach , Jacksonville, Duval County",Swimming,Anonymous,F,...,Other,"Action News Jax, 5/23/2016",2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.05.21.a,2016.05.21.a,6027.0,NaN,NaN
324,2015.12.21.a,21-Dec-2015,2015.0,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,Márcio de Castro Palma,M,...,"Tiger shark, 1.5 m","Fox News, 12/22/2015",2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.21.a,2015.12.21.a,5979.0,NaN,NaN
332,2015.11.15.a,15-Nov-2015,2015.0,Unprovoked,USA,Florida,"Ocean Reef Park, Singer Island, Palm Beach County",Surfing,Allen Engelman,M,...,"Spinner shark, 7'","5WPTV, 11/15/2015",2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.11.15.a,2015.11.15.a,5971.0,NaN,NaN
352,2015.10.05.a,05-Oct-2015,2015.0,Unprovoked,USA,Texas,Galveston,Wading,Gregory Slaughter,M,...,4' to 5' shark,"Houston Chronicle, 10/5/2015",2015.10.05.a-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.05.a,2015.10.05.a,5951.0,NaN,NaN
401,2015.06.27.a,27-Jun-2015,2015.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Buffels Bay near Knysna,Body Boarding,Caleb Swanepoel,M,...,White shark,"NSRI, 6/27/205",2015.06.27.a-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.06.27.a,2015.06.27.a,5902.0,NaN,NaN
453,2015.01.24,24-Jan-2015,2015.0,Unprovoked,AUSTRALIA,New South Wales,Flat Rock,Surfing,Hamish Murray,M,...,Other,"Northern Star, 1/26/2015",2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24,2015.01.24,5850.0,NaN,NaN
484,2014.10.19,19-Oct-2014,2014.0,Boating,USA,California,"Leadbetter Beach, Santa Barbara County",Canoeing,Tara Burnley,F,...,Other,"R. Collier, GSAF",2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.19,2014.10.19,5819.0,NaN,NaN
485,2014.10.18,18-Oct-2014,2014.0,Unprovoked,USA,Hawaii,"Maalaea, South Maui",Surfing,Kaleo Roberson,M,...,12' to 14' shark,"Star Advertiser, 10/18/2014",2014.10.18-Roberson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.18,2014.10.18,5818.0,NaN,NaN
486,2014.10.17,17-Oct-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Avoca Beach,Surfing,Kirra-Belle Olsson,F,...,1 m shark,"Sydney Morning Herald, 10/17/2014","2014.10.17-Olsson, pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.17,2014.10.17,5817.0,NaN,NaN
493,2014.10.03.b,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Ryan Howell,M,...,"White shark, 18' to 20'","R. Collier, GSAF",2014.10.03.b-Kayaks2.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.03.b,2014.10.03.b,5810.0,NaN,NaN
494,2014.10.03.a,03-Oct-2014,2014.0,Boating,USA,California,Santa Barbara County,Kayaking,Raul Armenta,M,...,White shark,"R. Collier, GSAF",2014.10.03.a-Kayaks1.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.03.a,2014.10.03.a,5809.0,NaN,NaN
515,2014.08.12,12-Aug-2014,2014.0,Unprovoked,USA,Florida,"3 to 4 miles west of Indian Pass, Gulf County",Standing,Kyle Hayes,M,...,"Bull shark, 8'","K. Hayes / Brewton Standard, 8/19/2014",2014.08.15-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.12,2014.08.12,5788.0,NaN,NaN
527,2014.07.22,22-Jul-2014,2014.0,Unprovoked,REUNION,Saint-Leu,Saint-Leu,Surfing,Vincent Rintz,M,...,1.8 metre shark,"BFM-tv, 7/22/2014",2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.07.22,2014.07.22,5776.0,NaN,NaN
545,2014.06.09.a,09-Jun-2014,2014.0,Unprovoked,AUSTRALIA,South Australia,"Parsons Beach, Fleurieu Peninsula",Body boarding,Scott Berry,M,...,"Bronze whaler shark, 1.5m","The Australian, 6/9/2014",2014.06.09.a-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.06.09.a,2014.06.09.a,5758.0,NaN,NaN
569,2014.04.03,03-Apr-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Tathra,Swimming,Christine Armstrong,F,...,3 m to 4 m white shark,"B. Myatt, GSAF",2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.04.03,2014.04.03,5734.0,NaN,NaN
583,2014.02.07.b,07-Feb-2014,2014.0,Provoked,TRINIDAD & TOBAGO,Trinidad,Trinidad,Fishing,Simon Torres,M,...,Other,"Trinidad Guardian, 2/11/2014",2014.02.07.b-Torres.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.02.07.b,2014.02.07.b,5720.0,NaN,NaN
584,2014.02.07,07-Feb-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Porpoise Bay,Surfing,Darren Mills,M,...,7-gill shark?,"New Zealand Herald, 2/7/2014",2014.02.07-PorpoiseBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.02.07,2014.02.07,5719.0,NaN,NaN
585,2014.01.26,26-Jan-2014,2014.0,Provoked,AUSTRALIA,New South Wales,Umina Beach,Fishing,Richard O'Connor,M,...,1m shark,"Daily Telegraph, 1/29/2014",2014.01.26-O'Connor.pf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.01.26,2014.01.26,5718.0,NaN,NaN
586,2014.01.25,25-Jan-2014,2014.0,Unprovoked,NEW ZEALAND,South Island,Garden Bay near Cosy Nook,Spearfishing,James Grant,M,...,7-gill shark,"Stuff.co.nz,1/27/2014",2014.01.25-Grant,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.01.25,2014.01.25,5717.0,NaN,NaN
587,2014.01.04,04-Jan-2014,2014.0,Sea Disaster,JAPAN,Okinawa Prefecture,Off Miyako Island,Sea disaster,Rianto,M,...,Other,"Focus Taiwan, 1/7/2014",2014.01.04-Rianto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,pdf_directory2014.01.04-Riano.pdf,2014.01.04,2014.01.04,5716.0,NaN,NaN
588,2014.00.00.b,2014,2014.0,Unprovoked,USA,Hawaii,Hawaii,Free diving / Photographing pilot whales,Anonymous,M,...,Oceanic whitetip shark,You Tube,2014.00.00.b-OceanicWhitetip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.00.00.b,2014.00.00.b,5715.0,NaN,NaN
590,2013.12.25,25-Dec-2013,2013.0,Unprovoked,NEW CALEDONIA,North Province,"Lindéralique, Hienghène",Snorkeling,Loïc Merlet,M,...,Reported to involve a bull shark,"Les Novelles Caledonie, 12/26/2014",2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.25,2013.12.25,5713.0,NaN,NaN
600,2013.11.22,22-Nov-2013,2013.0,Unprovoked,USA,Oregon,"Gleneden Beach, Lincoln County",Surfing,Andrew Gardiner,M,...,"White shark, 10 '",R. Collier,2013.11.22-Gardiner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.22,2013.11.22,5703.0,NaN,NaN
601,2013.11.12,12-Nov-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,"Trigg Beach, Perth",Surfing,Shaun Daly,M,...,Reported to involve a white shark,"West Australian, 11/13/2013",2013.11.12-Daly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.12,2013.11.12,5702.0,NaN,NaN
602,2013.11.10,10-Nov-2013,2013.0,Provoked,BAHAMAS,Off Cape Eleuthera,Off Cape Eleuthera,Shark fishing,Anonymous,M,...,Other,"Jamaica Observer, 11/11/2013",2013.11.10-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.10,2013.11.10,5701.0,NaN,NaN
603,2013.11.07.b,07-Nov-2013,2013.0,Unprovoked,USA,New Jersey,"Bay Head, Ocean County",Body boarding,Quinn Gates,M,...,Other,"S. Nagiewicz, SRI; Star Ledger, 11/9/2013",2013.11.07.b-Gates.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.07.b,2013.11.07.b,5700.0,NaN,NaN
604,2013.11.07.a,07-Nov-2013,2013.0,Unprovoked,USA,Florida,"Floridana Beach, Brevard County",Surfing,Sandor Melian,M,...,Other,"Space Coast Daily, 11/11/2013",2013.11.07.a-Melian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.07.a,2013.11.07.a,5699.0,NaN,NaN
605,2013.10.31,31-Oct-2013,2013.0,Unprovoked,USA,Hawaii,"Kanaha Beach, Maui",Kiteboarding,Christian Brandon,M,...,Tiger shark,"Maui TV, 10/31/2013",2013.10.31-ChristianBrandon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.31,2013.10.31,5698.0,NaN,NaN
606,2013.10.28,28-Oct-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,Turquoise Bay,Snorkeling,Glenda Simmons,F,...,"Blacktip reef shark, 1m","AAP, 10/28/2013",2013.10.28-Simmons.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.28,2013.10.28,5697.0,NaN,NaN
607,2013.10.26.b,26-Oct-2013,2013.0,Unprovoked,REUNION,dÉtang-Salé,Ravine Mula,Body boarding,Gicquel Tanguy,M,...,Thought to involve a bull shark,"Global Post, 10/26/2013",2013.10.26.b-Tanguy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.26.b,2013.10.26.b,5696.0,NaN,NaN
671,2013.05.27.b,27-May-2013,2013.0,Unprovoked,USA,Hawaii,"Halewia, Oahu",Diving,Tali Ena,M,...,Galapagos shark,"A. Brenneka, Shark Attack Survivors",2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.27.b,2013.05.27.b,5632.0,NaN,NaN
672,2013.05.27.a,27-May-2013,2013.0,Unprovoked,USA,Florida,"Ormond Beach, Volusia County",Swimming,Kyle Kirkpatrick,M,...,Other,"Fox News, 5/28/2013",2013.05.27.a-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.27.a,2013.05.27.a,5631.0,NaN,NaN
1046,2010.02.01,01-Feb-2010,2010.0,Provoked,NEW ZEALAND,South Island,Oreti Beach,Boogie Boarding,Lydia Ward,F,...,1.5 m shark,"R.D. Weeks, GSAF; K. Ritchie, ABC News, 2/1/...",12.26,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.02.01,2010.02.01,5257.0,NaN,NaN
1441,2006.08.22.b,22-Aug-2006,2006.0,Invalid,BRAZIL,Pernambuco,Pina,Other,Tatiano Silva de Melo,M,...,Shark involvement not confirmed,JC Oline 8/24/2006,2006.08.22.b-Melo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.08.22.b,2006.08.22.b,4862.0,NaN,NaN
1442,2006.08.22.a,22-Aug-2006,2006.0,Invalid,BELIZE,Ambergris Caye,Near Ramon's Village,Spearfishing,Isaul Coba,M,...,Shark involvement not confirmed,C. Johansson,2006.08.22.a-Coba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.08.22.a,2006.08.22.a,4861.0,NaN,NaN
2702,1989.00.00.a,1989,1989.0,Unprovoked,USA,Virginia,"Coral Gardens Reef, 6 miles SSE of Chicoteague...",Spearfishing using scuba & trailing a string o...,Anonymous,M,...,Other,J. Musick,1989.00.00.a-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.00.00.a,1989.00.00.a,3601.0,NaN,NaN
3244,1975.01.19,19-Jan-1975,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,...,Other,"J. West; Adelaide Advertiser, 1/20/1975; P. Ke...",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.01.19,1975.01.19,3059.0,NaN,NaN
3245,1975.00.00.b,1975,1975.0,Unprovoked,BERMUDA,Unknown,Unknown,Spearfishing,Geeteh Toussaint,M,...,8' blue shark,"E. Pace, FSAF",1975.00.00.b-Toussaint.pdf,#VALUE!,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.00.00.b,1975.00.00.b,3058.0,NaN,NaN
3775,1963.00.00.a,1963,1963.0,Unprovoked,SEYCHELLES,Unknown,Unknown,Fishing for turtles,Anonymous,M,...,Other,V.C. Harvey-Grain,1963.00.00.a-Seychelles.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.00.00.a,1963.00.00.a,2528.0,NaN,NaN
3829,1962.03.25.b,25-Mar-1962,1962.0,Provoked,NEW ZEALAND,"Off the Coromandel Peninsula, North Island",Alderman Islands,Other,W.T. Luxton,M,...,1.8 m [6'] shark,"Christchurch Star, 3/26/1962",1962.03.25.b-Luxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.03.25.b,1962.03.25.b,2474.0,NaN,NaN
4143,1958.08.31,31-Aug-1958,1958.0,Boating,MEXICO,Baja California,Ensenada,Boat stopped to repair electric pump,16' cabin cruiser with 35 hp outboard motor,Unknown,...,"Hammerhead shark, 5.2 m [17']","G.A. Llano, pp.176-177",1958.08.31-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.08.31,1958.08.31,2160.0,NaN,NaN
4154,1958.07.00.b,Jul-1958,1958.0,Unprovoked,BAHAMAS,Abaco Islands,North of Walkers Cay,"Spearfishing, had fish on his spear",Stanton Waterman,M,...,"Tiger shark, <2 m TL","S. Waterman, GSAF",1958.07.00.b-Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.00.b,1958.07.00.b,2149.0,NaN,NaN
4621,1945.07.30,30-Jul-1945,1945.0,Sea Disaster,PHILIPPINES,In transit between Tinian and Leyte,200 miles Leyte,American cruiser Indianapolis torpedoed & sunk...,Anonymous,Unknown,...,Other,"All the Drowned Sailors, by R. B. Lech ; M. Le...",1945.07.30-USS Indianapolis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1945.07.30,1945.07.30,1682.0,NaN,NaN
4872,1936.08.04,Reported 04-Aug-1936,1936.0,Unprovoked,AUSTRALIA,Torres Strait,Bathurst Island,Pearl diving,Anonymous,M,...,Other,"Nortnern Standard, 8/4/1936",1936.08.04.R-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.08.04,1936.08.04,1431.0,NaN,NaN
4898,1935.08.24,24-Aug-1935,1935.0,Invalid,UNITED KINGDOM,Isle of Wight,Atherfield,Fishing,Percy Wadham,M,...,Shark involvement not confirmed,"C. Moore, GSAF. Isle of Wight Press",1935.08.24-Atherfield.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.08.24,1935.08.24,1405.0,NaN,NaN
4949,1934.01.08.R,Reported 08-Feb-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,Anonymous,M,...,Other,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.08.R,1934.02.08.R,1354.0,NaN,NaN
5245,1921.07.21,21-Jul-1921,1921.0,Unprovoked,CUBA,Havana Harbor,Havana Harbor,Fell overboard,Robert Ellis,M,...,Other,"Chicago Tribune, 7/22/1921",1921.07.21-Ellis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1921.07.21,1921.07.21,1058.0,NaN,NaN
5349,1913.12.26.R,Reported 26-Dec-1913,1913.0,Sea Disaster,CUBA,off Neuvitas,off Neuvitas,Other,Gottlieb Schwertz,M,...,Other,"Tampa Bay Times, 12/26/1913",1913.12.26.R-Schwertz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.12.26.R,1913.12.26.R,954.0,NaN,NaN
5556,1900.09.05,05-Sep-1900,1900.0,Unprovoked,USA,Hawaii,"Waikiki Beach, Oahu",Floating,Joe Hartman,M,...,Other,"Honolulu Republican, 9/6/1900",1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.09.05,1900.09.05,747.0,NaN,NaN
5701,1890.06.26,06-26-1890,1890.0,Unprovoked,CROATIA,Fiume,Fiume,Swimming,Mayonni,M,...,Other,"C. Moore, GSAF",1890.06.26-Mayonni.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.06.26,1890.06.26,602.0,NaN,NaN
6110,1819.07.08.R,Reported 08-Jul-1819,1819.0,Invalid,SPAIN,Cadiz,Cadiz,Other,Anonymous,M,...,Shark involvement not confirmed,"C. Moore, GSAF",1819.07.08.R-Cadiz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1819.07.08.R,1819.07.08.R,193.0,NaN,NaN
6166,1637.00.00.R,Reported 1637,1637.0,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,Unknown,...,Other,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,137.0,NaN,NaN

In [2144]:
sharks['href'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [2145]:
sharks['href formula'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [2146]:
#analizando algunos me doy cuenta de que los valores que coinciden es porque
#href sale error not found y en href formula si que aparece el bueno
#así que copio lo que pone en hre formula a href

# Sobrescribir los valores en href formula donde la condición es verdadera
sharks.loc[condicion, 'href formula'] = sharks.loc[condicion, 'href']

# Verificar que los valores se hayan sobrescrito correctamente

In [2147]:
sharks['href'] == sharks['href formula']

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6300, dtype: bool

In [2148]:
# Seleccionar las filas donde href sea nulo y href formula no sea nulo
filas_null = sharks[(sharks['href'].isnull()) & (~sharks['href formula'].isnull())]

filas_null

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Case File (PDF), href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [2149]:
#ahora href formula no sirve para nada y podríamos utilizarla para otra cosa

In [2150]:
sharks = sharks.rename(columns={'href': 'Case File (URL)'})

In [2151]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'href formula',
       'Case File (URL)', 'Case Number.1', 'Case Number.2', 'original order',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [2152]:
sharks['Case File (URL)'].fillna('Unknown', inplace=True)

Year

In [2153]:
#me deshago de los nulos y los convierto en enteroa

sharks.dropna(subset=['Year'],inplace=True)
sharks.Year = sharks.Year.astype(int)

In [2154]:
sharks.shape

(6298, 24)

In [2157]:
sharks.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                         0
Location                     0
Activity                     0
Name                         0
Sex                          0
Age                          0
Injury                      28
Fatal                        0
Time                         0
Species                      0
Investigator or Source       0
Case File (PDF)              0
href formula                 0
Case File (URL)              0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6297
Unnamed: 23               6296
dtype: int64

In [2158]:
sharks.shape

(6298, 24)

In [2159]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,Case File (URL),Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Other,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Other,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Anonymous,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Date

In [2161]:
#voy a ver cuatos datos no cumplen con el formato dia mesa año

count = 0
for value in sharks['Date']:
    try:
        pd.to_datetime(value, format='%d-%b-%Y')
    except ValueError:
        count += 1

count

#hay demasiados no me los puedo cargar, voy a ver si los puedo agrupar al menos

1535

In [2160]:
#me interesa sacar el mes y meterlo en otra columna

# Convertir la columna "Date" al formato de fecha adecuado
sharks['Date'] = pd.to_datetime(sharks['Date'], format='%d-%b-%Y')

# Extraer el mes de cada fecha
month = df['Date'].dt.month

# Agregar el resultado a la columna "Month"
#sharks['Month'] = month

ValueError: time data "May 2018" doesn't match format "%d-%b-%Y", at position 14. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.