## Required Libraries

In [1105]:
import pandas as pd
import numpy as np
from datetime import datetime

## Import data set

In [1106]:
sharks = pd.read_csv('../data/attacks.csv', encoding='ISO-8859-1')
sharks.head();

### Exploración Inicial

In [1107]:
sharks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [1108]:
sharks.describe(include='object').T

,count,unique,top,freq
Case Number,8702,6287,0,2400
Date,6302,5433,1957,11
Type,6298,8,Unprovoked,4595
Country,6252,212,USA,2229
Area,5847,825,Florida,1037
Location,5762,4108,"New Smyrna Beach, Volusia County",163
Activity,5758,1532,Surfing,971
Name,6092,5230,male,550
Sex,5737,6,M,5094
Age,3471,157,17,154
Injury,6274,3737,FATAL,802
Fatal (Y/N),5763,8,N,4293
Time,2948,366,Afternoon,187
Species,3464,1549,White shark,163
Investigator or Source,6285,4969,"C. Moore, GSAF",105
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,6302,6285,1920.00.00.b,2
Case Number.2,6302,6286,1920.00.00.b,2
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,Teramo,1

### Columnas numericas

In [1109]:
num_df = sharks.select_dtypes(exclude='object')

### Valores Nulos

In [1110]:
original_shape = sharks.shape
original_shape

(25723, 24)

In [1111]:
#elimino las filas que todos sus valores son nulos
sharks.dropna(how='all', inplace=True)

In [1112]:
sharks.shape

(8703, 24)

In [1113]:
#eliminar las filas que tengan mas de 20 columnas de valores nulos

null_rows = sharks.isnull().sum(axis=1)
indexes_to_drop = null_rows[null_rows > 20].index
sharks = sharks.drop(indexes_to_drop)

In [1114]:
sharks.shape

(6302, 24)

In [1115]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [1116]:
percent_nan_cols = sharks.isna().mean() * 100  # porcentaje de nulo en cada columna


percent_nan_cols[percent_nan_cols>0]

Case Number                0.015868
Year                       0.031736
Type                       0.063472
Country                    0.793399
Area                       7.219930
Location                   8.568708
Activity                   8.632180
Name                       3.332275
Sex                        8.965408
Age                       44.922247
Injury                     0.444303
Fatal (Y/N)                8.552840
Time                      53.221200
Species                   45.033323
Investigator or Source     0.269756
href formula               0.015868
Unnamed: 22               99.984132
Unnamed: 23               99.968264
dtype: float64

Vamos a ir columna a columna quitando valores nulos

## Case Number

In [1117]:
sharks['Case Number'].head()

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
Name: Case Number, dtype: object

In [1118]:
type(sharks['Case Number'][0])

str

In [1119]:
#ver donde hay case number pero no hay fecha

sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [1120]:
#me las cargo

index_to_drop = sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())].index
sharks = sharks.drop(index_to_drop)

In [1121]:
# contar el número de valores nulos en cada fila
null_counts = sharks.isnull().sum(axis=1)

In [1122]:
sharks.shape

(6302, 24)

## Tipo de ataque

In [1123]:
sharks.Type.unique()

sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [1124]:
#Boatomg 

sharks['Type'].replace('Boatomg', 'Boating', inplace=True)
sharks['Type'].replace('Boat', 'Boating', inplace=True)

#elimino los cuestionables

sharks.drop(sharks[sharks['Type'] == 'Questionable'].index, inplace=True)

In [1125]:
sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [1126]:
#los valores nulos del tipo de ataque que sean un desastre en el mar

sharks['Type'] = sharks['Type'].fillna('Unprovoked')

In [1127]:
sharks['Type'].replace('Invalid', 'Unprovoked', inplace=True)
sharks['Type'].replace('Boating', 'Unprovoked', inplace=True)
sharks['Type'].replace('Sea Disaster', 'Unprovoked', inplace=True)


## Country

In [1128]:
sharks['Country'].value_counts().head()

Country
USA                 2229
AUSTRALIA           1336
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
Name: count, dtype: int64

In [1129]:
nulos = sharks['Country'].isnull().sum()

nulos

50

In [1130]:
#compruebo si puedo sacar algún pais

sharks.loc[sharks['Country'].isnull()]

#df.loc[df['A'].isnull() & df['B'].notnull()]

#country sea nulo pero area o location si que tenga informacion

sharks[(sharks['Country'].isnull()) & (sharks['Area'].notnull() | sharks['Location'].notnull())]

#se pueden arreglar 21 filas, por 21 filas me voy a rallar? NO, los que no sepa el pais 
#no me lo voy  a inventar asi que por ahora pongo desconocido 

sharks['Country'].fillna('Unknown', inplace=True)

In [1131]:
sharks[(sharks['Country'] == 'Unknown') & (sharks['Area'].notnull() | sharks['Location'].notnull())];

In [1132]:
sharks['Country'] = sharks['Country'].str.title()

## Area

In [1133]:
#los valores que si que no tengan area pero si location, voy a copiar la location al area
#cojo las de location y no las de country porque location es más concreto

sharks[(sharks['Area'].isnull()) & (sharks['Location'].notnull())].head(10)
sharks['Area'].fillna(sharks['Location'], inplace=True)

#y viceversa

sharks[(sharks['Location'].isnull()) & (sharks['Area'].notnull())].head(10)
sharks['Location'].fillna(sharks['Area'], inplace=True)

In [1134]:
sharks['Area'].isnull().sum()

240

In [1135]:
sharks[((sharks['Location'].isnull())&((sharks['Area'].isnull())) )& (sharks['Country'].notnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,Bahamas,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,...,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,Unknown,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,Bahamas,NaN,NaN,Spearfishing,male,M,...,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,NaN,NaN
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,Bahamas,NaN,NaN,Feeding sharks,Carly,F,...,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,NaN,NaN
296,2016.03.26,26-Mar-2016,2016.0,Provoked,Bahamas,NaN,NaN,NaN,Henry Kreckman,M,...,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,6007.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6280,ND.0022,No date,0.0,Unprovoked,Australia,NaN,NaN,Pearl diving,Jaringoorli,M,...,NaN,"Adelaide Advertiser, 1/11/1940",ND-0022-Jaringoorli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0022,ND.0022,23.0,NaN,NaN
6291,ND.0011,Before 1911,0.0,Unprovoked,Asia?,NaN,NaN,Swimming,Mr. Masury,M,...,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12.0,NaN,NaN
6293,ND.0009,Before 1906,0.0,Unprovoked,Australia,NaN,NaN,Fishing,boy,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
6294,ND.0008,Before 1906,0.0,Unprovoked,Australia,NaN,NaN,Fishing,fisherman,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
6295,ND.0007,Before 1906,0.0,Unprovoked,Australia,NaN,NaN,Fishing,fisherman,M,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN

In [1136]:
sharks['Area'] = sharks['Area'].fillna('Unknown')
sharks['Location'] = sharks['Location'].fillna('Unknown')

## Activity

In [1137]:
actividades = sharks['Activity'].value_counts()

In [1138]:
actividades[actividades==1].head(5)

#hay 1315 actividades

Activity
On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks                                                    1
Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.    1
Jumped overboard from torpedoed Panamanian freighter                                                                                                                                                                                                  1
Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85                                                                                                                                                                    1
Thrown from destroyer when shell hit                                                                                                                                                                                                                  1
Name: count, dtype: int64

In [1139]:
sharks['Activity'].isnull().sum()

544

In [1140]:
#recordando la columna Type hay varias filas que pone Boating y esto se podría considerar
#como actividad asi que voy a buscar donde en la columna Type sea boating que y que la columna
#Activity sea nula

sharks[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull())]

sharks.loc[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull()), 'Activity'] = 'Boating'

In [1141]:
sharks['Activity'].isnull().sum()

544

In [1142]:
sharks['Activity'].fillna('Other', inplace=True)

## Name

In [1143]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         2
Name                       210
Sex                        565
Age                       2829
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [1144]:
#Como los nombre deberían ser unicos voy a coger los valores
#que se repiten más de una vez

nombres = sharks['Name'].value_counts()
nombres[nombres>2].head(5)

Name
male       549
female      97
boy         23
2 males     16
boat        14
Name: count, dtype: int64

In [1145]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [1146]:
#voy a limpiar los que más se repiten uno a uno 
#male -> compruebo primero si en el genero esta vacio pero en el nombre
#esta male, se lo añado

sharks = sharks.rename(columns={'Sex ': 'Sex'})


#al comparar con Sex veo que nombre tiene un espacio así que lo corrijo 

sharks[(sharks['Name'] == 'male') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[(sharks['Type'] == 'male') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [1147]:
#ahora los que se llamen male lo paso a unknown 

sharks.loc[sharks['Name'] == 'male', 'Name'] = 'Anonymous'

In [1148]:
#hago lo mismo con female

sharks[(sharks['Name'] == 'female') & (sharks['Sex'].isnull())]

#como no hay directamente pongo desconocido

sharks.loc[sharks['Name'] == 'female', 'Name'] = 'Anonymous'

In [1149]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2].head(5)

Name
Anonymous    656
boy           23
2 males       16
boat          14
child         12
Name: count, dtype: int64

In [1150]:
#lo mismo con boy

sharks[(sharks['Name'] == 'boy') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[sharks['Name'] == 'boy', 'Name'] = 'Anonymous'

In [1151]:
#voy a agrupar los que me quedan en chico o chica y vuelvo a valorar

#todos los chicos los meto en male y lo comparo con sexo
males = ['2 males',  'males',  'sailor', 'males', 'a sailor', 'fisherman', 'a soldier','2 fishermen',  'black male',
 'Arab boy',
 'Zulu male',
 ' male', 'aboriginal male',
 'Russian male','Japanese diver',  'native boy',]



sharks["Name"] = sharks["Name"].replace(males, 'M')

In [1152]:
sharks[(sharks['Name'] == 'M') & (sharks['Sex'].isnull())]
sharks.loc[(sharks['Type'] == 'M') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [1153]:
sharks.loc[sharks['Name'] == 'M', 'Name'] = 'Anonymous'

In [1154]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Anonymous        764
boat              14
child             12
girl               7
a pearl diver      6
Unidentified       6
a native           5
Unknown            4
John Williams      3
unknown            3
woman              3
M.C.               3
Andre Hartman      3
dinghy             3
2 women            3
Name: count, dtype: int64

In [1155]:
#Los que no lleven nombre pasaran a ser anonimos
#el nombre me da igual

nombres = sharks['Name'].value_counts()
nombres = nombres.index[nombres > 2] # seleccionar los nombres que aparecen más de 2 veces
sharks.loc[sharks['Name'].isin(nombres), 'Name'] = 'Anonymous' # cambiar los nombres por 'Anonymous'

In [1156]:
#hay 14 filas que tienen boat, las voy a comparar con la columna actividad 
#pero en vez que sea nulo que sea desconocido

sharks[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown')]
sharks.loc[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown'), 'Activity'] = 'Boating'

In [1157]:
sharks['Name'] = sharks['Name'].fillna('Anonymous')

## Sex

In [1158]:
genero = sharks['Sex'].value_counts()
lista_genero = genero[genero > 1].index.tolist()

lista_genero

#cambio la M con espacio y la N a una M de Male

lista_genero_correct = ['M ', 'N','lli','.']

sharks["Sex"] = sharks["Sex"].replace(lista_genero_correct, 'M')

In [1159]:
#comprobamos que solo tenemos o macho o female

genero = sharks['Sex'].value_counts()
genero[genero > 0]

Sex
M    5098
F     637
Name: count, dtype: int64

In [1160]:
sharks['Sex'].isnull().sum()

565

In [1161]:
sharks['Sex'] = sharks['Sex'].fillna('Unknown')

## Age

In [1162]:
edad = sharks['Age'].value_counts()
edad[edad==1].head()

Age
            1
25 or 28    1
X           1
17 & 35     1
50 & 30     1
Name: count, dtype: int64

In [1163]:
edad_unica = edad[edad==1].index.tolist()
edad_unica;

In [1164]:
type(sharks['Age'][0])

str

In [1165]:
#Rellenamos los valores nulos con desconocido, a lo mejor relleno con cero no se...

sharks.Age = sharks.Age.fillna('Unknown').astype(str)

#para los que sean strings me quedo con los dos primeros caracteres

sharks.Age = sharks.Age.apply(lambda z: z[:2])

#convierto otra vez a string

sharks.Age = sharks.Age.astype(str)

#ahora convierto el string a int si no se puede pasa a ser desconcido 

def go(xx):
    try:
        return int(xx)
    except:
        return 'Unknown'

sharks.Age = sharks.Age.apply(go)
sharks.Age.value_counts().head()

Age
Unknown    2868
17          156
18          153
20          150
19          142
Name: count, dtype: int64

## Injury

In [1166]:
edad = sharks['Injury'].value_counts()
edad[edad>0].head()

Injury
FATAL          802
Survived        97
Foot bitten     87
No injury       81
Leg bitten      72
Name: count, dtype: int64

In [1167]:
sharks['Injury'].isnull().sum()

28

In [1168]:


sharks = sharks.rename(columns={'Fatal (Y/N)': 'Fatal'})

In [1169]:
#como solo hay una vamos a rellenar los valores nulos de Injury con Survived
#al final son 28 

mask = (sharks['Fatal'] == 'Y') & (sharks['Injury'].isnull())
fatal_y_injury_null = sharks[mask]
fatal_y_injury_null

sharks['Injury'] = sharks['Injury'].fillna('Survived')

## Fatal

In [1170]:


muerte = sharks['Fatal'].value_counts()
muerte[muerte>0]

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [1171]:
#donde fatal sea unknown o nan e injury sea fatal

sharks[(sharks['Fatal'].isnull()) & (sharks['Injury'] == 'FATAL')]
sharks.loc[((sharks['Fatal'] == 'UNKNOWN') & (sharks['Fatal'].isnull())) & (sharks['Injury'] == 'FATAL'), 'Fatal'] = 'Y'

In [1172]:
fatal = sharks['Fatal'].value_counts()

In [1173]:
fatal

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [1174]:
sharks['Fatal'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [1175]:
#lo que se parezca a yes o no lo cambio para agrupar valores

sharks["Fatal"] = sharks["Fatal"].replace(' N', 'N')
sharks["Fatal"] = sharks["Fatal"].replace('N ', 'N')

sharks["Fatal"] = sharks["Fatal"].replace('y', 'Y')

#LOS QUE NO ENCAJAN LOS PASO A DESCONOCIDO 

sharks["Fatal"] = sharks["Fatal"].replace('M', 'N')
sharks["Fatal"] = sharks["Fatal"].replace('2017', 'N')

In [1176]:
sharks['Fatal'].value_counts()

Fatal
N          4301
Y          1389
UNKNOWN      71
Name: count, dtype: int64

In [1177]:
sharks["Fatal"] = sharks["Fatal"].replace('UNKNOWN', 'N')
sharks["Fatal"] = sharks["Fatal"].fillna('N')

## Time

In [1178]:
hora = sharks['Time'].value_counts()
hora[hora>0].head()

Time
Afternoon    187
11h00        128
Morning      121
12h00        109
15h00        108
Name: count, dtype: int64

In [1179]:
#los valores nulos pasan a desconocido 


sharks['Time'].fillna('Unknown', inplace=True)

#se cambia el formato de la hora

hora = sharks['Time'].str.contains('^\d+h\d+$')

print(hora)

sharks.loc[hora, 'Time'] = sharks.loc[hora, 'Time'].str.replace(r'(^\d+)h(\d+)', r'\1:\2').head(5)

0        True
1       False
2        True
3       False
4       False
        ...
6297    False
6298    False
6299    False
6300    False
6301    False
Name: Time, Length: 6300, dtype: bool

In [1180]:
sharks['Time'].unique()


time_values = sharks.loc[~sharks['Time'].astype(str).str.match('^\d+h\d+$'), 'Time'].unique()

time_values;

In [1181]:
time_values = sharks.loc[~sharks['Time'].astype(str).str.contains('^\d+h\d+$'), 'Time'].unique()
import re
pattern = re.compile(r'^\D*$')
filtered_values = [value for value in time_values if pattern.match(str(value))]
value_counts = pd.DataFrame({'Time': filtered_values}).value_counts()

value_counts;

In [1182]:
#Agrupamos valores

In [1183]:
sharks['Time'].head()

0            18h00
1    14h00  -15h00
2            07h45
3          Unknown
4          Unknown
Name: Time, dtype: object

In [1184]:
sharks['Time'] = sharks['Time'].fillna('Unknown')

## Species

In [1185]:
sharks = sharks.rename(columns={'Species ': 'Species'})

especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [1186]:
#observo las que más se repiten y agrupo para limpiar

In [1187]:
especie = sharks['Species'].value_counts()
especie[especie>30]

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        87
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           33
1.5 m [5'] shark                                       32
Name: count, dtype: int64

In [1188]:
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death was not confirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Invalid', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death unconfirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable incident', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')

In [1189]:
especie = sharks['Species'].value_counts()
especie[especie>10];

In [1190]:
sharks['Species'].fillna('Other', inplace=True)

## Investigator or Source

In [1191]:
caso = sharks['Investigator or Source'].value_counts()
caso[caso>5];

In [1192]:
sharks['Investigator or Source'].fillna('Unknown', inplace=True)

PDF

In [1193]:
sharks = sharks.rename(columns={'pdf': 'Case File (PDF)'})

In [1194]:
sharks['Case File (PDF)'].fillna('Unknown', inplace=True)

## href y href formula

In [1195]:
sharks['href'] == sharks['href formula'];

In [1196]:
#busco en que filas el elemento no coincide

# Crear una serie booleana que indique si href es diferente a href formula
condicion = sharks['href'] != sharks['href formula']

# Seleccionar las filas donde la condición es verdadera
filas_diferentes = sharks[condicion]

filas_diferentes;

In [1197]:
sharks['href'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [1198]:
sharks['href formula'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [1199]:
#analizando algunos me doy cuenta de que los valores que coinciden es porque
#href sale error not found y en href formula si que aparece el bueno
#así que copio lo que pone en hre formula a href

# Sobrescribir los valores en href formula donde la condición es verdadera
sharks.loc[condicion, 'href formula'] = sharks.loc[condicion, 'href']

# Verificar que los valores se hayan sobrescrito correctamente

In [1200]:
sharks['href'] == sharks['href formula'];

In [1201]:
# Seleccionar las filas donde href sea nulo y href formula no sea nulo
filas_null = sharks[(sharks['href'].isnull()) & (~sharks['href formula'].isnull())]

filas_null

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, Case File (PDF), href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [1202]:
#ahora href formula no sirve para nada y podríamos utilizarla para otra cosa

In [1203]:
sharks = sharks.rename(columns={'href': 'Case File (URL)'})

In [1204]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'href formula',
       'Case File (URL)', 'Case Number.1', 'Case Number.2', 'original order',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [1205]:
sharks['Case File (URL)'].fillna('Unknown', inplace=True)

## Year

In [1206]:
#me deshago de los nulos y los convierto en enteroa

sharks.dropna(subset=['Year'],inplace=True)
sharks.Year = sharks.Year.astype(int)

In [1207]:
sharks.shape

(6298, 24)

In [1208]:
sharks.isna().sum();

In [1209]:
sharks.shape

(6298, 24)

In [1210]:
sharks.head();

## Date

In [1211]:
#voy a ver cuatos datos no cumplen con el formato dia mesa año

count = 0
for value in sharks['Date']:
    try:
        pd.to_datetime(value, format='%d-%b-%Y')
    except ValueError:
        count += 1

count

#hay demasiados no me los puedo cargar, voy a ver si los puedo agrupar al menos

1535

In [1212]:


fecha = sharks['Date'].value_counts()
fecha[fecha>3];

In [1213]:
#de la columna Date los que sean solo un año
#los paso a la columna Year así no pierdo ese valor

sharks['Year'] = sharks['Date'].str.extract(r'(\d{4})')

#ahora que ya lo tengo Year los elimino de la columna Date

# Identificar las filas donde la columna 'Date' contiene solo cuatro dígitos
mask = sharks['Date'].str.contains(r'^\d{4}$')

# Reemplazar los valores correspondientes con 'No date'
sharks.loc[mask, 'Date'] = 'No date'

In [1214]:
fecha = sharks['Date'].value_counts()
fecha[fecha>3];

In [1215]:
#reemplazo a mano los que tienen el formato bueno 

sharks['Date'] = sharks['Date'].replace('1960s','No date')
sharks['Date'] = sharks['Date'].replace('1970s','No date')
sharks['Date'] = sharks['Date'].replace('Before 1906','No date')
sharks['Date'] = sharks['Date'].replace('Before 1958','No date')
sharks['Date'] = sharks['Date'].replace('Reported 10-Oct-1906','No date')
sharks['Date'] = sharks['Date'].replace('No date, Before 1963','No date')
sharks['Date'] = sharks['Date'].replace('Aug-1956','No date')
sharks['Date'] = sharks['Date'].replace('Oct-1960','No date')
sharks['Date'] = sharks['Date'].replace(' 01-Sep-2013','01-Sep-2013')
sharks['Date'] = sharks['Date'].replace('Summer 1943','No date')
sharks['Date'] = sharks['Date'].replace('19955','No date')
sharks['Date'] = sharks['Date'].replace('Circa 1958','No date')
sharks['Date'] = sharks['Date'].replace('Feb-1957','No date')
sharks['Date'] = sharks['Date'].replace('1845-1853','No date')

#voy a parar porque esto deja de tener sentido

In [1216]:
fecha = sharks['Date'].value_counts()
fecha[fecha==1];

In [1217]:
#utilizo una de las columnas inutiles para guardar el mes 

sharks = sharks.rename(columns={'Case Number.1': 'Month'})

sharks['Month'] = sharks['Month'] = None

In [1218]:
sharks['Month'] = sharks['Date'].str.extract(r'(\w{3})', expand=False).fillna('Unknown')

In [1219]:
sharks['Month'].value_counts;

In [1220]:
meses = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

sharks.loc[~sharks['Month'].isin(meses), 'Month'] = 'Unknown'

In [1221]:
(sharks['Month'] == 'Unknown').astype(int).sum()

1115

## Vuelta a Year

In [1222]:
#veo que en Year vuelvo a tener valores nulos
sharks[(sharks['Year'].isnull()) & (sharks['Date'].notnull())].head(10)

#como tampoco tengo la fecha relleno ese año con Unknown

sharks['Year'] = sharks['Year'].fillna('Unknown')

### Eliminar duplicados

In [1223]:
sharks.drop_duplicates(subset=list(sharks.columns));

## Estación del año

In [1224]:
sharks = sharks.rename(columns={'Case Number.2': 'Season'})

In [1225]:
def get_season(month):
    if month in ['Dec', 'Jan', 'Feb']:
        return 'Winter'
    elif month in ['Mar', 'Apr', 'May']:
        return 'Spring'
    elif month in ['Jun', 'Jul', 'Aug']:
        return 'Summer'
    elif month in ['Sep', 'Oct', 'Nov']:
        return 'Autumn'
    else:
        return 'Unknown'

# Aplicar la función a la columna Month y asignar el resultado a la columna Season
sharks['Season'] = sharks['Month'].apply(get_season)

In [1226]:
sharks['Season'];

## Week day

In [1227]:
sharks = sharks.rename(columns={'href formula': 'Week Day'})

sharks['Week Day'] = None

sharks['Week Day'];

In [1228]:
#que toda la columna lleve este valor
#cuando encuentre de la columan date los que cumplen con el formato
#saco que día de la semana es 

sharks['Week Day'] = sharks['Week Day'].fillna('unknown')

In [1229]:
#Para cada fila, intenta convertir el valor de la columna "Date" a un objeto datetime usando el formato "%d-%b-%Y".
#Si esto es exitoso, establece el valor de la columna "Week Day" en el día de la semana correspondiente. 
#Si no es exitoso, la columna "Week Day" ya está configurada en "unknown".


for i, row in sharks.iterrows():
    try:
        date = pd.to_datetime(row['Date'], format='%d-%b-%Y')
        sharks.loc[i, 'Week Day'] = date.strftime('%A')
    except ValueError:
        pass

In [1230]:
sharks['Week Day'];

In [1231]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'Week Day',
       'Case File (URL)', 'Month', 'Season', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### Convierto una columna en el indice del dataframe

In [1232]:
sharks = sharks.rename(columns={'Unnamed: 22': 'Index'})

sharks['Index'] = range(1, len(sharks) + 1)

sharks = sharks.set_index('Index')

### Que tan dificil sería hacer una columna con el continente

In [1233]:
sharks['Country'].value_counts()

sharks['Country'] = sharks['Country'].replace('Usa', 'USA')
paises = sharks['Country'].value_counts()
paises[paises>20];

In [1234]:
#voy a hacerlo para los que se repiten más de 20 veces

paises_mas_10 = list(paises[paises>10].index)

paises_mas_10;

In [1235]:
continents = {'USA': 'North America',
              'Australia': 'Oceania',
              'South Africa': 'Africa',
              'Papua New Guinea': 'Oceania',
              'New Zealand': 'Oceania',
              'Brazil': 'South America',
              'Bahamas': 'North America',
              'Mexico': 'North America',
              'Italy': 'Europe',
              'Fiji': 'Oceania',
              'Philippines': 'Asia',
              'Reunion': 'Africa',
              'New Caledonia': 'Oceania',
              'Unknown': 'Unknown',
              'Cuba': 'North America',
              'Mozambique': 'Africa',
              'Spain': 'Europe',
              'India': 'Asia',
              'Egypt': 'Africa',
              'Croatia': 'Europe',
              'Japan': 'Asia',
              'Panama': 'North America',
              'Solomon Islands': 'Oceania',
              'Iran': 'Asia',
              'Jamaica': 'North America',
              'Greece': 'Europe',
              'French Polynesia': 'Oceania',
              'Hong Kong': 'Asia',
              'Indonesia': 'Asia',
              'England': 'Europe',
              'Costa Rica': 'North America',
              'Atlantic Ocean': 'Unknown',
              'Pacific Ocean': 'Unknown',
              'Bermuda': 'North America',
              'Vietnam': 'Asia',
              'Tonga': 'Oceania',
              'Vanuatu': 'Oceania',
              'Sri Lanka': 'Asia',
              'France': 'Europe',
              'Marshall Islands': 'Oceania',
              'Turkey': 'Asia',
              'Canada': 'North America',
              'South Atlantic Ocean': 'Unknown',
              'Iraq': 'Asia',
              'Venezuela': 'South America',
              'United Kingdom': 'Europe',
              'Senegal': 'Africa'
              }

In [1236]:
sharks = sharks.rename(columns={'Unnamed: 23': 'Continent'})

sharks['Continent'] = sharks['Country'].map(continents)

sharks['Continent'] = sharks['Continent'].fillna('Unknown')

In [1237]:
sharks.head();

### Limpieza de Area y Location:

In [1238]:
sharks['Area'] = sharks['Area'].str.title()
sharks['Location'] = sharks['Location'].str.title()

In [1239]:
local = sharks['Location'].value_counts()
local_rep = list(local[local>5].index)

local_rep;

## A que mar pertenece cada uno de los ataques

In [1240]:
sharks = sharks.rename(columns={'original order': 'Sea'})

In [1241]:
seas = {
'Unknown': 'Unknown',
'New Smyrna Beach, Volusia County': 'Atlantic Ocean',
'Daytona Beach, Volusia County': 'Atlantic Ocean',
'Ponce Inlet, Volusia County': 'Atlantic Ocean',
'Melbourne Beach, Brevard County': 'Atlantic Ocean',
'Myrtle Beach, Horry County': 'Atlantic Ocean',
'Durban': 'Indian Ocean',
'Boa Viagem, Recife': 'Atlantic Ocean',
'Isle of Palms, Charleston County': 'Atlantic Ocean',
'Torres Strait': 'Pacific Ocean',
'Ponce Inlet, New Smyrna Beach, Volusia County': 'Atlantic Ocean',
'Hawaii': 'Pacific Ocean',
'Florida': 'Atlantic Ocean',
'Cocoa Beach, Brevard County': 'Atlantic Ocean',
'Ormond Beach, Volusia County': 'Atlantic Ocean',
'Piedade': 'Atlantic Ocean',
'Palm Beach, Palm Beach County': 'Atlantic Ocean',
'Mossel Bay': 'Indian Ocean',
'Ahvaz, on the Karun River': 'Persian Gulf',
'Sydney Harbor': 'Pacific Ocean',
'Sydney': 'Pacific Ocean',
'Nahoon': 'Indian Ocean',
'Singer Island, Riviera Beach, Palm Beach County': 'Atlantic Ocean',
'Xai Xai': 'Indian Ocean',
'Jacksonville Beach, Duval County': 'Atlantic Ocean',
'North Beach, Durban': 'Indian Ocean',
'Havana Harbor': 'Atlantic Ocean',
'Juno Beach, Palm Beach County': 'Atlantic Ocean',
'Brisbane River': 'Pacific Ocean',
'Near Thursday Island': 'Pacific Ocean',
'Florida Keys, Monroe County': 'Atlantic Ocean',
'Nahoon, East London': 'Indian Ocean',
'Boa Viagem Beach, Recife': 'Atlantic Ocean',
'Moreton Bay': 'Pacific Ocean',
'Amanzimtoti': 'Indian Ocean',
'Florida Keys': 'Atlantic Ocean',
'False Bay': 'Atlantic Ocean',
'Vero Beach, Indian River County': 'Atlantic Ocean',
'Country Club Beach, Durban': 'Indian Ocean',
'Port Said': 'Mediterranean Sea',
'Sanibel Island, Lee County': 'Gulf of Mexico',
'Thursday Island': 'Pacific Ocean',
'Quy Nhon ': 'South China Sea',
'Folly Beach, Charleston County': 'Atlantic Ocean',
'New South Wales': 'Pacific Ocean',
'Port Alfred': 'Indian Ocean',
'Plettenberg Bay': 'Indian Ocean',
'Pensacola Bay, Escambia County': 'Gulf of Mexico',
'Riviera Beach, Palm Beach County': 'Atlantic Ocean',
'Charleston': 'Atlantic Ocean',
'Jacksonville, Duval County': 'Atlantic Ocean',
'Mirs Bay ': 'Pacific Ocean',
'Ross River, Townsville': 'Pacific Ocean',
'Bunbury': 'Indian Ocean',
'Bondi': 'Pacific Ocean',
'Brisbane': 'Pacific Ocean',
'Townsville': 'Pacific Ocean',
'Coogee': 'Pacific Ocean',
'Great Barrier Reef': 'Pacific Ocean',
'Key West, Monroe County': 'Gulf of Mexico',
'Shatt-al-Arab River': 'Persian Gulf',
'Jensen Beach, Martin County': 'Atlantic Ocean'}

In [1242]:
sharks['Sea'] = sharks['Country'].map(seas)

sharks['Sea'] = sharks['Sea'].fillna('Unknown')

### Cambiar el orden de las columnas

In [1243]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'Case File (PDF)', 'Week Day',
       'Case File (URL)', 'Month', 'Season', 'Sea', 'Continent'],
      dtype='object')

In [1244]:
column_order = ['Case Number','Year', 'Country','Month', 'Fatal', 'Name', 'Age','Sex','Species','Continent','Sea','Area', 'Location', 
        'Week Day','Date' , 'Season','Activity','Injury', 'Time','Investigator or Source', 'Case File (PDF)','Case File (URL)','Type']
sharks = sharks.reindex(columns=column_order)

In [1245]:
sharks.head();

## Exporto el csv 'limpiado'

In [1247]:
sharks.to_csv('cleaned_shark.csv', index=False)