Required Libraries

In [846]:
import pandas as pd
import numpy as np
from datetime import datetime

Import data set

In [847]:
sharks = pd.read_csv('../data/attacks.csv', encoding='ISO-8859-1')
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Exploración Inicial

In [848]:
sharks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [849]:
sharks.describe().T.style.format('{:.2f}')

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

In [ ]:
sharks.describe(include='object').T

,count,unique,top,freq
Case Number,8702,6287,0,2400
Date,6302,5433,1957,11
Type,6298,8,Unprovoked,4595
Country,6252,212,USA,2229
Area,5847,825,Florida,1037
Location,5762,4108,"New Smyrna Beach, Volusia County",163
Activity,5758,1532,Surfing,971
Name,6092,5230,male,550
Sex,5737,6,M,5094
Age,3471,157,17,154
Injury,6274,3737,FATAL,802
Fatal (Y/N),5763,8,N,4293
Time,2948,366,Afternoon,187
Species,3464,1549,White shark,163
Investigator or Source,6285,4969,"C. Moore, GSAF",105
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2
href formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4
Case Number.1,6302,6285,1920.00.00.b,2
Case Number.2,6302,6286,1920.00.00.b,2
Unnamed: 22,1,1,stopped here,1
Unnamed: 23,2,2,Teramo,1

Columnas numericas

In [ ]:
num_df = sharks.select_dtypes(exclude='object')

num_df.head()

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0
3  2018.0          6300.0
4  2018.0          6299.0

Valores Nulos

In [ ]:
original_shape = sharks.shape
original_shape

(25723, 24)

In [ ]:
#elimino las filas que todos sus valores son nulos
sharks.dropna(how='all', inplace=True)

In [ ]:
sharks.shape

(8703, 24)

In [ ]:
#eliminar las filas que tengan mas de 20 columnas de valores nulos

null_rows = sharks.isnull().sum(axis=1)
indexes_to_drop = null_rows[null_rows > 20].index
sharks = sharks.drop(indexes_to_drop)

In [ ]:
sharks.shape

(6302, 24)

In [ ]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [ ]:
percent_nan_cols = sharks.isna().mean() * 100  # porcentaje de nulo en cada columna


percent_nan_cols[percent_nan_cols>0]

Case Number                0.015868
Year                       0.031736
Type                       0.063472
Country                    0.793399
Area                       7.219930
Location                   8.568708
Activity                   8.632180
Name                       3.332275
Sex                        8.965408
Age                       44.922247
Injury                     0.444303
Fatal (Y/N)                8.552840
Time                      53.221200
Species                   45.033323
Investigator or Source     0.269756
href formula               0.015868
Unnamed: 22               99.984132
Unnamed: 23               99.968264
dtype: float64

Vamos a ir columna a columna quitando valores nulos

Case Number

In [ ]:
sharks['Case Number'].head()

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
Name: Case Number, dtype: object

In [ ]:
type(sharks['Case Number'][0])

str

In [ ]:
sharks[sharks['Case Number'].isnull()]

#como tengo la fecha le asigno ese case number

sharks['Case Number'].fillna('1905.09.06', inplace=True)

In [ ]:
#ver donde hay case number pero no hay fecha

sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
#me las cargo

index_to_drop = sharks[(sharks['Date'].isnull()) & (sharks['Case Number'].notnull())].index
sharks = sharks.drop(index_to_drop)

In [ ]:
# contar el número de valores nulos en cada fila
null_counts = sharks.isnull().sum(axis=1)

# seleccionar las filas donde más de 15 columnas son nulos
#las voy a eliminar porque no voy a estimar el valor de 2000 filas 
#me van a afectar

null_counts

0       2
1       3
2       3
3       4
4       4
       ..
6297    5
6298    5
6299    5
6300    5
6301    4
Length: 6300, dtype: int64

In [ ]:
sharks.shape

(6300, 24)

Tipo de ataque

In [ ]:
sharks.Type.unique()

sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [ ]:
#Boatomg 

sharks['Type'].replace('Boatomg', 'Boating', inplace=True)
sharks['Type'].replace('Boat', 'Boating', inplace=True)

#elimino los cuestionables

sharks.drop(sharks[sharks['Type'] == 'Questionable'].index, inplace=True)

In [ ]:
sharks['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [ ]:
'''
Tipos de ataque que voy a considerar
es probable que me cargue esta columna y le de otro significado
- 
'''

'\nTipos de ataque que voy a considerar\n- \n'


Country

In [ ]:
sharks['Country'].value_counts()

Country
USA                      2229
AUSTRALIA                1336
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
NEW ZEALAND               128
                         ...
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
MAYOTTE                     1
GABON                       1
CEYLON (SRI LANKA)          1
Name: count, Length: 213, dtype: int64

In [ ]:
nulos = sharks['Country'].isnull().sum()

nulos

0

In [ ]:
#compruebo si puedo sacar algún pais

sharks.loc[sharks['Country'].isnull()]

#df.loc[df['A'].isnull() & df['B'].notnull()]

#country sea nulo pero area o location si que tenga informacion

sharks[(sharks['Country'].isnull()) & (sharks['Area'].notnull() | sharks['Location'].notnull())]

#se pueden arreglar 21 filas, por 21 filas me voy a rallar? NO, los que no sepa el pais 
#no me lo voy  a inventar asi que por ahora pongo desconocido 

sharks['Country'].fillna('Unknown', inplace=True)

In [ ]:
sharks[(sharks['Country'] == 'Unknown') & (sharks['Area'].notnull() | sharks['Location'].notnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,Unknown,English Channel,English Channel,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
3387,1970.08.02,02-Aug-1970,1970.0,Invalid,Unknown,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,...,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,NaN,NaN
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,Unknown,Florida Strait,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,Unknown,"Between Timor & Darwin, Australia","Between Timor & Darwin, Australia",Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,Unknown,Near the Andaman & Nicobar Islands,Near the Andaman & Nicobar Islands,Climbing back on ship,Unknown,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4266,1956.00.00.g,1956,1956.0,Sea Disaster,Unknown,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,...,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0,NaN,NaN
4498,1949.12.00.b,Dec-1949,1949.0,Sea Disaster,Unknown,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,...,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1805.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,Unknown,225 miles east of Hong Kong,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,Unknown,Off South American coast,Off South American coast,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,Unknown,300 miles east of St. Thomas (Virgin Islands),300 miles east of St. Thomas (Virgin Islands),On life raft tethered to lifeboat. A seaman pu...,Unknown,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
5020,1931.04.27.R,Reported 27-Apr-1931,1931.0,Unprovoked,Unknown,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,...,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1283.0,NaN,NaN
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,Unknown,Near the equator,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,Unknown,Mediterranean Sea,Mediterranean Sea,Swimming,Unknown,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,Unknown,Gulf of California,Gulf of California,"Sea disaster, wreck of the sloop Sara",Unknown,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,Unknown,Western Banks,Western Banks,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,Unknown,Santa Cruz,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
6137,1787.07.05,05-Jul-1787,1787.0,Unprovoked,Unknown,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,...,NaN,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0,NaN,NaN
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,Unknown,Carlisle Bay,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,Unknown,Ionian Sea,Ionian Sea,Sponge diving,Unknown,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,Unknown,Ionian Sea,Ionian Sea,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN
6206,ND-0114,Before 2012,0.0,Unprovoked,Unknown,In a river feeding into the Bay of Bengal,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN

In [ ]:
#cambiar esos 21 rows de country

Area

In [ ]:
#los valores que si que no tengan area pero si location, voy a copiar la location al area
#cojo las de location y no las de country porque location es más concreto

sharks[(sharks['Area'].isnull()) & (sharks['Location'].notnull())].head(10)
sharks['Area'].fillna(sharks['Location'], inplace=True)

#y viceversa

sharks[(sharks['Location'].isnull()) & (sharks['Area'].notnull())].head(10)
sharks['Location'].fillna(sharks['Area'], inplace=True)

In [ ]:
sharks['Area'].isnull().sum()

240

In [ ]:
sharks[((sharks['Location'].isnull())&((sharks['Area'].isnull())) )& (sharks['Country'].notnull())].head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,...,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,Unknown,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,Unknown,M,...,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,NaN,NaN
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Feeding sharks,Carly,F,...,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,NaN,NaN
296,2016.03.26,26-Mar-2016,2016.0,Provoked,BAHAMAS,NaN,NaN,Unknown,Henry Kreckman,M,...,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,6007.0,NaN,NaN
370,2015.09.00,Sep-2015,2015.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,Viliame Lautiki,M,...,Tiger shark,"Fiji Times, 2/8/2016",2015.09.00-Lautiki.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.09.00,2015.09.00,5933.0,NaN,NaN
446,2015.02.15,15-Feb-2015,2015.0,Boating,ATLANTIC OCEAN,NaN,NaN,Transatlantic Rowing,"Avalon, a carbon kevlar monohull: 8 occupants",NaN,...,White shark,"Yorkshire Post, 3/16/2014",2015.02.15-Avalon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.02.15,2015.02.15,5857.0,NaN,NaN
469,2014.12.23.R,Reported 23-Dec-2014,2014.0,Unprovoked,JAPAN,NaN,NaN,Diving / Filming,Unknown,M,...,Goblin shark,"Maxisciences.com, 12/23/2014",2014.12.23.R-GoblinShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.12.23.R,2014.12.23.R,5834.0,NaN,NaN
517,2014.08.09.R,09-Aug-2014,2014.0,Unprovoked,BAHAMAS,NaN,NaN,Spearfishing,Andrew Hindley,M,...,"Bull shark, 9' to 10'",A. Hindley / M. Michaelson,"2014.08.09.R-Hindley, pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.09.R,2014.08.09.R,5786.0,NaN,NaN
525,2014.08.00,Aug-2014,2014.0,Invalid,Unknown,NaN,NaN,Sea disaster,Cuban refugees,M,...,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,NaN,NaN

Activity

In [ ]:
actividades = sharks['Activity'].value_counts()

actividades

Activity
Surfing                                   969
Swimming                                  869
Unknown                                   501
Fishing                                   431
Spearfishing                              333
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: count, Length: 1532, dtype: int64

In [ ]:
actividades[actividades==1]

#hay 1315 actividades

Activity
Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85                                                                                                                                                          1
His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation                                                               1
Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down    1
In rubber dinghy with Captain Eddie Rickenbacker for 21 days.                                                                                                                                                                               1
Diving from lugger                                                                                                                                                                                                                          1
                                                                                                                                                                                                                                           ..
Playing with a frisbee in the shallows                                                                                                                                                                                                      1
Sinking of the ferryboat Dumaguete                                                                                                                                                                                                          1
Wreck of the Storm King                                                                                                                                                                                                                     1
Feeding mullet to sharks                                                                                                                                                                                                                    1
Wreck of  large double sailing canoe                                                                                                                                                                                                        1
Name: count, Length: 1315, dtype: int64

In [ ]:
sharks['Activity'].isnull().sum()

0

In [ ]:
#recordando la columna Type hay varias filas que pone Boating y esto se podría considerar
#como actividad asi que voy a buscar donde en la columna Type sea boating que y que la columna
#Activity sea nula

sharks[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull())]

sharks.loc[(sharks['Type'] == 'Boating') & (sharks['Activity'].isnull()), 'Activity'] = 'Boating'

In [ ]:
sharks['Activity'].isnull().sum()

0

In [ ]:
sharks['Activity'].fillna('Unknown', inplace=True)


Name

In [ ]:
nan_cols = sharks.isna().sum()

nan_cols[nan_cols>0]

Year                         2
Type                         4
Area                       240
Location                   240
Name                       210
Sex                        565
Age                       2829
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [ ]:
#Como los nombre deberían ser unicos voy a coger los valores
#que se repiten más de una vez

nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Unknown          758
boat              14
child             12
Anonymous         10
girl               7
Unidentified       6
a pearl diver      6
a native           5
Andre Hartman      3
John Williams      3
M.C.               3
woman              3
unknown            3
2 women            3
dinghy             3
Name: count, dtype: int64

In [ ]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [ ]:
#voy a limpiar los que más se repiten uno a uno 
#male -> compruebo primero si en el genero esta vacio pero en el nombre
#esta male, se lo añado

sharks = sharks.rename(columns={'Sex ': 'Sex'})


#al comparar con Sex veo que nombre tiene un espacio así que lo corrijo 

sharks[(sharks['Name'] == 'male') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[(sharks['Type'] == 'male') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [ ]:
#ahora los que se llamen male lo paso a unknown 

sharks.loc[sharks['Name'] == 'male', 'Name'] = 'Unknown'

In [ ]:
#hago lo mismo con female

sharks[(sharks['Name'] == 'female') & (sharks['Sex'].isnull())]

#como no hay directamente pongo desconocido

sharks.loc[sharks['Name'] == 'female', 'Name'] = 'Unknown'

In [ ]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Unknown          758
boat              14
child             12
Anonymous         10
girl               7
Unidentified       6
a pearl diver      6
a native           5
Andre Hartman      3
John Williams      3
M.C.               3
woman              3
unknown            3
2 women            3
dinghy             3
Name: count, dtype: int64

In [ ]:
#lo mismo con boy

sharks[(sharks['Name'] == 'boy') & (sharks['Sex'].isnull())]

#ya he añadido male

sharks.loc[sharks['Name'] == 'boy', 'Name'] = 'Unknown'

In [ ]:
#voy a agrupar los que me quedan en chico o chica y vuelvo a valorar

#todos los chicos los meto en male y lo comparo con sexo
males = ['2 males',  'males',  'sailor', 'males', 'a sailor', 'fisherman', 'a soldier','2 fishermen',  'black male',
 'Arab boy',
 'Zulu male',
 ' male', 'aboriginal male',
 'Russian male','Japanese diver',  'native boy',]



sharks["Name"] = sharks["Name"].replace(males, 'M')

In [ ]:
sharks[(sharks['Name'] == 'M') & (sharks['Sex'].isnull())]
sharks.loc[(sharks['Type'] == 'M') & (sharks['Sex'].isnull()), 'Sex'] = 'M'

In [ ]:
sharks.loc[sharks['Name'] == 'M', 'Name'] = 'Unknown'

In [ ]:
nombres = sharks['Name'].value_counts()
nombres[nombres>2]

Name
Unknown          758
boat              14
child             12
Anonymous         10
girl               7
Unidentified       6
a pearl diver      6
a native           5
Andre Hartman      3
John Williams      3
M.C.               3
woman              3
unknown            3
2 women            3
dinghy             3
Name: count, dtype: int64

In [ ]:
#hay 14 filas que tienen boat, las voy a comparar con la columna actividad 
#pero en vez que sea nulo que sea desconocido

sharks[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown')]
sharks.loc[(sharks['Name'] == 'boat') & (sharks['Activity'] == 'Unknown'), 'Activity'] = 'Boating'

Sex

In [ ]:
genero = sharks['Sex'].value_counts()
lista_genero = genero[genero > 1].index.tolist()

lista_genero

#cambio la M con espacio y la N a una M de Male

lista_genero_correct = ['M ', 'N','lli','.']

sharks["Sex"] = sharks["Sex"].replace(lista_genero_correct, 'M')

In [ ]:
#comprobamos que solo tenemos o macho o female

genero = sharks['Sex'].value_counts()
genero[genero > 0]

Sex
M    5098
F     637
Name: count, dtype: int64

In [ ]:
sharks['Sex'].isnull().sum()

565

In [ ]:
sharks['Sex'] = sharks['Sex'].fillna('Unknown')

Age

In [ ]:
edad = sharks['Age'].value_counts()
edad[edad==1]

Age
                  1
25 or 28          1
X                 1
17 & 35           1
50 & 30           1
                 ..
20?               1
 28               1
7      &    31    1
 30               1
13 or 14          1
Name: count, Length: 75, dtype: int64

In [ ]:
edad_unica = edad[edad==1].index.tolist()
edad_unica

['  ',
 '25 or 28',
 'X',
 '17 & 35',
 '50 & 30',
 '30 & 32',
 '21, 34,24 & 35',
 '37, 67, 35, 27,  ? & 27',
 '33 & 37',
 '13 or 18',
 '(adult)',
 '2½',
 '23 & 26',
 '25 to 35',
 '9 months',
 '? & 19',
 '"middle-age"',
 '34 & 19',
 '36 & 23',
 '10 or 12',
 'A.M.',
 '9 or 10',
 'Both 11',
 'F',
 '17 & 16',
 '?    &   14',
 '31 or 33',
 '33 & 26',
 '"young"',
 '81',
 ' 43',
 'adult',
 'MAKE LINE GREEN',
 '2 to 3 months',
 '9 & 12',
 '74',
 '18 to 22',
 '46 & 34',
 '6½',
 '30 or 36',
 '\xa0 ',
 '84',
 '36 & 26',
 'Teens',
 '28, 23 & 30',
 '12 or 13',
 '33 or 37',
 '18 or 20',
 '86',
 '28 & 26',
 '18 months',
 '72',
 '60s',
 '82',
 '21 & ?',
 'mid-30s',
 '>50',
 '67',
 '20 ',
 '21 or 26',
 '45 ',
 '74 ',
 'Ca. 33',
 'mid-20s',
 'Elderly',
 '87',
 '23 & 20',
 '16 to 18',
 '32 & 30',
 "60's",
 '20?',
 ' 28',
 '7      &    31',
 ' 30',
 '13 or 14']

In [ ]:
type(sharks['Age'][0])

str

Injury

In [ ]:
edad = sharks['Injury'].value_counts()
edad[edad>0]

Injury
FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: count, Length: 3737, dtype: int64

Fatal

In [ ]:
'Fatal (Y/N)'

sharks = sharks.rename(columns={'Fatal (Y/N)': 'Fatal'})

muerte = sharks['Fatal'].value_counts()
muerte[muerte>0]

Fatal
N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [ ]:
#donde fatal sea unknown o nan e injury sea fatal

sharks[(sharks['Fatal'].isnull()) & (sharks['Injury'] == 'FATAL')]
sharks.loc[((sharks['Fatal'] == 'UNKNOWN') & (sharks['Fatal'].isnull())) & (sharks['Injury'] == 'FATAL'), 'Fatal'] = 'Y'

In [ ]:
fatal = sharks['Fatal'].value_counts()

In [ ]:
fatal

Fatal
N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [ ]:
sharks['Fatal'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [ ]:
#lo que se parezca a yes o no lo cambio para agrupar valores

sharks["Fatal"] = sharks["Fatal"].replace(' N', 'N')
sharks["Fatal"] = sharks["Fatal"].replace('N ', 'N')

sharks["Fatal"] = sharks["Fatal"].replace('y', 'Y')

#LOS QUE NO ENCAJAN LOS PASO A DESCONOCIDO 

sharks["Fatal"] = sharks["Fatal"].replace('M', 'UNKNOWN')
sharks["Fatal"] = sharks["Fatal"].replace('2017', 'UNKNOWN')

In [ ]:
sharks['Fatal'].value_counts()

Fatal
N          4301
Y          1389
UNKNOWN      73
Name: count, dtype: int64

Time

In [ ]:
hora = sharks['Time'].value_counts()
hora[hora>0]

Time
Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: count, Length: 366, dtype: int64

In [ ]:
#los valores nulos pasan a desconocido 


sharks['Time'].fillna('Unknown', inplace=True)

#se cambia el formato de la hora

hora = sharks['Time'].str.contains('^\d+h\d+$')

print(hora)

sharks.loc[hora, 'Time'] = sharks.loc[hora, 'Time'].str.replace(r'(^\d+)h(\d+)', r'\1:\2')

0         True
1        False
2         True
3        False
4        False
         ...
25718    False
25719    False
25720    False
25721    False
25722    False
Name: Time, Length: 25723, dtype: bool

In [ ]:
sharks['Time'].unique()


time_values = sharks.loc[~sharks['Time'].str.contains('^\d+h\d+$'), 'Time'].unique()
time_values

array(['14h00  -15h00', 'Unknown', 'Late afternoon', 'Morning',
       'Afternoon', '19h00, Dusk', 'Night', 'Midday',
       'Shortly before 12h00', 'After noon', '1300', '14h30 / 15h30',
       'Morning ', 'Midnight', '09h30 / 10h00', '10h45-11h15', 'Evening',
       'Sometime between 06h00 & 08hoo', 'Early afternoon',
       '07h00 - 08h00', '18h15-18h30', '09h00 - 09h30', '0830',
       'Just before noon', '1600', 'Early morning', 'Dawn', 'AM', 'A.M.',
       'Dusk', 'Lunchtime', '15j45', '0500', 'Before 07h00',
       '10h00 -- 11h00', '"Just before 11h00"', 'Sunset', '  ',
       '"Evening"', 'Just before sundown', '11h30 ',
       'Between 05h00 and 08h00', '17h00 or 17h40', '>08h00', '--',
       'Just after 12h00', ' ', 'Early Morning', 'Shortly after midnight',
       '\xa0 ', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.',
       'Shortly before 13h00', '8:04 pm',
       'Possibly same incident as 2000.08.21', 'After Dusk', 'Noon',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h00 / 11h30', '"Night"', '18h30?',
       '30 minutes after 1992.07.08.a', '>06h45', 'Between 06h00 & 07h20',
       '<07h30', '17h00 Sunset', 'Nightfall', 'X', '18h30 (Sunset)',
       '06j00', 'Prior to 10h37', 'Daybreak', '>12h00', 'Mid-morning',
       '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime', 'Dark',
       '10h00 / 11h00', '"After lunch"', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '09h30 / 15h30', '08h00 / 09h30',
       '12h00 to 14h00', 'Late night', '10h30 or 13h30', '15h00j',
       'Midday.', '"After dark"', '10h00 or 14h00', '2 hrs before sunset',
       '18h15 to 21h30', '1500', '"shortly before dusk"', '>17h30',
       '>14h30', 'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       'After midnight', 'Late afternon', '"Early evening"',
       'Late Afternoon', '   ', 'Before daybreak', 'dusk', 'Before 10h30',
       '06h00 -- 07h00', '17h00-18h00', '19h00-20h00'], dtype=object)

In [ ]:
import re
pattern = re.compile(r'^\D*$')
filtered_values = [value for value in time_values if pattern.match(value)]
filtered_values

value_counts = pd.DataFrame({'Time': filtered_values}).value_counts()
value_counts

Time
                                                                         1
                                                                         1
Just before sundown                                                      1
Late Afternoon                                                           1
Late afternon                                                            1
Late afternoon                                                           1
Late morning                                                             1
Late night                                                               1
Lunchtime                                                                1
Mid afternoon                                                            1
Mid morning                                                              1
Mid-morning                                                              1
Midday                                                                   1
Midday.                                                                  1
Midnight                                                                 1
Morning                                                                  1
Morning                                                                  1
Night                                                                    1
Nightfall                                                                1
Noon                                                                     1
P.M.                                                                     1
Shortly after midnight                                                   1
Sunset                                                                   1
Unknown                                                                  1
X                                                                        1
dusk                                                                     1
night                                                                    1
Just before noon                                                         1
Just before dawn                                                         1
FATAL  (Wire netting installed at local beaches after this incident.)    1
After dusk                                                               1
                                                                         1
"After dark"                                                             1
"After lunch"                                                            1
"Early evening"                                                          1
"Evening"                                                                1
"Night"                                                                  1
"shortly before dusk"                                                    1
--                                                                       1
A.M.                                                                     1
AM                                                                       1
After Dusk                                                               1
After midnight                                                           1
Evening                                                                  1
After noon                                                               1
Afternoon                                                                1
Before daybreak                                                          1
Dark                                                                     1
Dawn                                                                     1
Daybreak                                                                 1
Daytime                                                                  1
Dusk                                                                     1
Early Morning                                                            1
Early afternoon                                                          1
Early morning                                                            1
                                                                         1
Name: count, dtype: int64

In [ ]:
#Agrupamos valores

In [ ]:
sharks['Time'].head()

0            18h00
1    14h00  -15h00
2            07h45
3              NaN
4              NaN
Name: Time, dtype: object

In [ ]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Species

In [866]:
sharks['Species'].fillna('Unknown', inplace=True)

In [873]:
sharks = sharks.rename(columns={'Species ': 'Species'})

especie = sharks['Species'].value_counts()
especie[especie>30]

Species
unknown                            22259
Shark involvement not confirmed      432
White shark                          163
Tiger shark                           73
Bull shark                            52
4' shark                              40
6' shark                              40
1.8 m [6'] shark                      35
1.5 m [5'] shark                      32
Name: count, dtype: int64

In [874]:
#observo las que más se repiten y agrupo para limpiar

In [875]:
'''

a_reemplazar = ['Shark involvement prior to death was not confirmed','Invalid','Shark involvement not confirmed','Shark involvement prior to death unconfirmed','Questionable incident', 'Questionable'   ]


# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"
sharks['Species'] = sharks['Species'].replace(a_reemplazar, 'Shark involvement not confirmed', inplace=True)

'''

'\n\na_reemplazar = [\'Shark involvement prior to death was not confirmed\',\'Invalid\',\'Shark involvement not confirmed\',\'Shark involvement prior to death unconfirmed\',\'Questionable incident\', \'Questionable\'   ]\n\n\n# Reemplazar los valores en la columna "nombre_columna" por "not confirmed"\nsharks[\'Species\'] = sharks[\'Species\'].replace(a_reemplazar, \'Shark involvement not confirmed\', inplace=True)\n\n'

In [876]:
especie = sharks['Species'].value_counts()
especie[especie>30]

Species
unknown                            22259
Shark involvement not confirmed      432
White shark                          163
Tiger shark                           73
Bull shark                            52
4' shark                              40
6' shark                              40
1.8 m [6'] shark                      35
1.5 m [5'] shark                      32
Name: count, dtype: int64

In [877]:
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death was not confirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Invalid', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Shark involvement prior to death unconfirmed', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable incident', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')
sharks["Species"] = sharks["Species"].replace('Questionable', 'Shark involvement not confirmed')

In [878]:
especie = sharks['Species'].value_counts()
especie[especie>10]

Species
unknown                                           22259
Shark involvement not confirmed                     432
White shark                                         163
Tiger shark                                          73
Bull shark                                           52
4' shark                                             40
6' shark                                             40
1.8 m [6'] shark                                     35
1.5 m [5'] shark                                     32
1.2 m [4'] shark                                     27
3' shark                                             26
5' shark                                             26
2 m shark                                            25
4' to 5' shark                                       24
3 m [10'] shark                                      22
No shark involvement                                 21
Wobbegong shark                                      21
3' to 4' shark                                       18
3 m shark                                            17
2.4 m [8'] shark                                     16
12' shark                                            15
Blacktip shark                                       15
3.7 m [12'] shark                                    15
Blue shark                                           14
1.2 m to 1.5 m [4' to 5'] shark                      14
Mako shark                                           13
1.5 m shark                                          13
Shark involvement prior to death not confirmed       13
"a small shark"                                      13
7' shark                                             13
Bronze whaler shark                                  12
Nurse shark                                          12
6 m [20'] white shark                                12
Raggedtooth shark                                    12
10' shark                                            12
5 m [16.5'] white shark                              12
Grey nurse shark                                     11
Zambesi shark                                        11
Name: count, dtype: int64

Investigator or Source

In [881]:
caso = sharks['Investigator or Source'].value_counts()
caso[caso>5]

Investigator or Source
C. Moore, GSAF                                     105
C. Creswell, GSAF                                   92
S. Petersohn, GSAF                                  82
R. Collier                                          55
T. Peake, GSAF                                      48
R. Collier, GSAF                                    48
M. Levine, GSAF                                     45
A. Gifford, GSAF                                    28
C. Moore. GSAF                                      27
B. Myatt, GSAF                                      26
GSAF                                                23
M. Vorenberg, GSAF                                  20
E. Pace, FSAF                                       20
G. Van Grevelynghe                                  19
E. Ritter, GSAF                                     19
JCOnline                                            16
J. Green, p.36                                      14
W. Leander                                          14
C. Johansson, GSAF                                  14
K. Nakaya                                           12
R.D. Weeks, GSAF                                    12
S. Petersohn                                        12
C. Black, GSAF                                      11
C. Creswell                                         11
Hawaii Department of Land and Natural Resources     11
C. Eksander, GSAF                                   10
B.W. Coad & L.A.J. Al-Hassan                        10
MEDSAF                                              10
R. McKenzie, Sunday Mail, 9/6/1987, p.11             9
J. Eager, scubaradio.com                             9
B. Coad                                              8
C.Moore, GSAF                                        8
M. Szpilman                                          8
A. Bleakley;  A. M. Rapson, p.148                    7
T. Wallett, p.27                                     7
North Adams Transcript, 3/18/1898                    7
K. McMurray, TrackingSharks.com                      7
V.M. Coppleson (1958), p.242                         6
Clay Creswell, GSAF                                  6
S. Petersohn, GSAF                                   6
J. Borg, p.74; L. Taylor (1993), pp.102-103          6
G. Balazs                                            6
G. Cliff, NSB                                        6
A. Brenneka, Shark Attack Survivors                  6
Y. Choi & K. Nakaya                                  6
G.P. Whitley, p.264                                  6
Name: count, dtype: int64

In [883]:
sharks['Investigator or Source'].fillna('Unknown', inplace=True)

PDF

In [884]:
sharks = sharks.rename(columns={'pdf': 'Case File (PDF)'})

In [885]:
sharks['Case File (PDF)'].fillna('Unknown', inplace=True)

href y href formula

In [888]:
sharks['href'] == sharks['href formula']

0         True
1         True
2         True
3         True
4         True
         ...
25718    False
25719    False
25720    False
25721    False
25722    False
Length: 25723, dtype: bool

In [900]:
#busco en que filas el elemento no coincide

# Crear una serie booleana que indique si href es diferente a href formula
condicion = sharks['href'] != sharks['href formula']

# Seleccionar las filas donde la condición es verdadera
filas_diferentes = sharks[condicion]

filas_diferentes

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,Case File (PDF),href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [906]:
sharks['href'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [910]:
sharks['href formula'][96]

'http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2017.08.27-Brundler.pdf'

In [908]:
#analizando algunos me doy cuenta de que los valores que coinciden es porque
#href sale error not found y en href formula si que aparece el bueno
#así que copio lo que pone en hre formula a href

# Sobrescribir los valores en href formula donde la condición es verdadera
sharks.loc[condicion, 'href formula'] = sharks.loc[condicion, 'href']

# Verificar que los valores se hayan sobrescrito correctamente

In [911]:
sharks['href'] == sharks['href formula']

0         True
1         True
2         True
3         True
4         True
         ...
25718    False
25719    False
25720    False
25721    False
25722    False
Length: 25723, dtype: bool

In [912]:
# Seleccionar las filas donde href sea nulo y href formula no sea nulo
filas_null = sharks[(sharks['href'].isnull()) & (~sharks['href formula'].isnull())]

filas_null

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species, Investigator or Source, Case File (PDF), href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
#ahora href formula no sirve para nada y podríamos utilizarla para otra cosa

In [913]:
sharks = sharks.rename(columns={'href': 'URL'})

In [914]:
sharks['URL'].fillna('Unknown', inplace=True)